@use 'uswds-core' as *;
@use 'usa-search';

// SEARCH STYLES

.nci-header-nav__secondary {
	&.search-focused {
		.nci-header-mobilenav__open-btn {
			@include u-display('none');
			@include at-media('mobile-lg') {
				@include u-display('block');
			}
			@include at-media('desktop') {
				@include u-display('none');
			}
		}
	}

	.nci-header-search {
		@extend .usa-search;
		@extend .usa-search--small;
		flex-grow: 1;

		@include at-media('mobile-lg') {
			flex-grow: 0;
			min-width: 300px;
		}

		@include at-media('desktop') {
			min-width: 300px;
		}

		& [type='search'] {
			@extend .usa-search__input;
			@include u-height(5);
			@include u-radius(0);
			border-color: color('gray-50');
			font-size: size($theme-button-font-family, 'md');
		}

		& [type='submit'] {
			padding: 0.44rem units(1.5);
			height: unset;
			& .nci-header-search__label {
				@include u-display('none');
			}
			& .usa-icon {
				height: units(3);
				@include u-overflow('hidden');
				width: units(3);
			}
			min-width: unset;
		}

		@include at-media($theme-header-min-width) {
			& .usa-icon {
				@include u-display('none');
			}
			& [type='search'] {
				@include u-height(4);
				font-size: size($theme-button-font-family, 'xs');
			}
			& [type='submit'] {
				& .nci-header-search__label {
					@include u-display('block');
				}
				max-width: unset;
			}
		}
	}
}
