<section
	aria-label="Standard site alert example Code"
	class="usa-site-alert {{ deprecated }}"
>
  <div class="usa-alert">
    <div class="usa-alert__body">
      <div class="usa-alert__nci-header">
        <h3 class="usa-alert__heading">COVID-19 resources.</h3>
      </div>
      <div class="usa-alert__nci-content">
        <ul class="usa-alert__nci-list">
          <li>
            <a class="usa-link" href="#!">
              What people with cancer should know
            </a>
          </li>
          <li>
            <a class="usa-link" href="#!">
              Get the latest public health information from CDC
            </a>
          </li>
          <li>
            <a class="usa-link" href="#!"> Guidance for cancer researchers </a>
          </li>
          <li>
            <a class="usa-link" href="#!">
              Get the latest research information from NIH
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
