<div>
	<h1>External Link Examples</h1>
	<h2>Font Size</h2>
	<div class="grid-row grid-gap flex-align-center margin-bottom-2 padding-bottom-1 border-bottom-2px margin-top-4 text-bold">
		<div class="grid-col-2 text-700 font-sans-1">token</div>
		<div class="grid-col-fill text-700 font-sans-1">example</div>
		<div class="grid-col-3 text-300 font-sans-1 text-right">utility class</div>
	</div>

	<div class="grid-row grid-gap flex flex-align-center padding-bottom-2 margin-bottom-2 border-bottom border-gray-10">
		<div class="grid-col-2 text-300 font-sans-3">
			<code>'3xs'</code>
		</div>
		<div class="grid-col-fill">
			<span class="font-body-3xs"><a class="usa-link" href="https://www.google.com">Tallahassee</a></span>
		</div>
		<div class="grid-col-3 text-300 font-sans-3 text-right">
			<code>font-body-3xs</code>
		</div>
	</div>

	<div class="grid-row grid-gap flex-align-center padding-bottom-2 margin-bottom-2 border-bottom border-gray-10">
		<div class="grid-col-2 text-300 font-sans-3">
			<code>'2xs'</code>
		</div>
		<div class="grid-col-fill">
			<span class="font-body-2xs"><a class="usa-link" href="https://www.google.com">Tallahassee</a></span>
		</div>
		<div class="grid-col-3 text-300 font-sans-3 text-right">
			<code>font-body-2xs</code>
		</div>
	</div>

	<div class="grid-row grid-gap flex-align-center padding-bottom-2 margin-bottom-2 border-bottom border-gray-10">
		<div class="grid-col-2 text-300 font-sans-3">
			<code>'xs'</code>
		</div>
		<div class="grid-col-fill">
			<span class="font-body-xs"><a class="usa-link" href="https://www.google.com">Tallahassee</a></span>
		</div>
		<div class="grid-col-3 text-300 font-sans-3 text-right">
			<code>font-body-xs</code>
		</div>
	</div>

	<div class="grid-row grid-gap flex-align-center padding-bottom-2 margin-bottom-2 border-bottom border-gray-10">
		<div class="grid-col-2 text-300 font-sans-3">
			<code>'sm'</code>
		</div>
		<div class="grid-col-fill">
			<span class="font-body-sm"><a class="usa-link" href="https://www.google.com">Tallahassee</a></span>
		</div>
		<div class="grid-col-3 text-300 font-sans-3 text-right">
			<code>font-body-sm</code>
		</div>
	</div>

	<div class="grid-row grid-gap flex-align-center padding-bottom-2 margin-bottom-2 border-bottom border-gray-10">
		<div class="grid-col-2 text-300 font-sans-3">
			<code>'md'</code>
		</div>
		<div class="grid-col-fill">
			<span class="font-body-md"><a class="usa-link" href="https://www.google.com">Tallahassee</a></span>
		</div>
		<div class="grid-col-3 text-300 font-sans-3 text-right">
			<code>font-body-md</code>
		</div>
	</div>

	<div class="grid-row grid-gap flex-align-center padding-bottom-2 margin-bottom-2 border-bottom border-gray-10">
		<div class="grid-col-2 text-300 font-sans-3">
			<code>'lg'</code>
		</div>
		<div class="grid-col-fill">
			<span class="font-body-lg"><a class="usa-link" href="https://www.google.com">Tallahassee</a></span>
		</div>
		<div class="grid-col-3 text-300 font-sans-3 text-right">
			<code>font-body-lg</code>
		</div>
	</div>

	<div class="grid-row grid-gap flex-align-center padding-bottom-2 margin-bottom-2 border-bottom border-gray-10">
		<div class="grid-col-2 text-300 font-sans-3">
			<code>'xl'</code>
		</div>
		<div class="grid-col-fill">
			<span class="font-body-xl"><a class="usa-link" href="https://www.google.com">Tallahassee</a></span>
		</div>
		<div class="grid-col-3 text-300 font-sans-3 text-right">
			<code>font-body-xl</code>
		</div>
	</div>

	<div class="grid-row grid-gap flex-align-center padding-bottom-2 margin-bottom-2 border-bottom border-gray-10">
		<div class="grid-col-2 text-300 font-sans-3">
			<code>'2xl'</code>
		</div>
		<div class="grid-col-fill">
			<span class="font-body-2xl"><a class="usa-link" href="https://www.google.com">Tallahassee</a></span>
		</div>
		<div class="grid-col-3 text-300 font-sans-3 text-right">
			<code>font-body-2xl</code>
		</div>
	</div>

	<div class="grid-row grid-gap flex-align-center padding-bottom-2 margin-bottom-2 border-bottom border-gray-10">
		<div class="grid-col-2 text-300 font-sans-3">
			<code>'3xl'</code>
		</div>
		<div class="grid-col-fill">
			<span class="font-body-3xl"><a class="usa-link" href="https://www.google.com">Tallahassee</a></span>
		</div>
		<div class="grid-col-3 text-300 font-sans-3 text-right">
			<code>font-body-3xl</code>
		</div>
	</div>
