<div>
	<p>This is
		<a class="usa-link" href="https://www.cancer.gov">an internal text link</a>
		on a light background.</p>

	<p>This is
		<a class="usa-link usa-link-visited-example" href="https://www.cancer.gov/about-cancer">a visited internal link</a>.</p>

	<p>This is a link that goes to an
		<a class="usa-link" href="https://www.google.com">external website</a>.</p>

	<div class="usa-dark-background padding-1 display-inline-block">
		<p>This is
			<a class="usa-link" href="https://www.cancer.gov">an internal text link on a dark background</a>.</p>
		<p>
			<a class="usa-link" href="https://www.google.com">This</a>
			is an external text link on a dark background.</p>
	</div>

	<p>This is
		<a class="usa-link" href="https://www.google.com" data-ncids-internal-link>an external link</a>
		overridden to hide its icon.</p>

	<p>This is
		<a class="usa-link usa-link--external" href="https://www.cancer.gov">an internal link</a>
		overridden to display an external icon.</p>
</div>
