# Code Owners

# Product team members must sign off to any changes in BackstopJS reference images
testing/ncids-css-testing/.backstop/reference/ @NCIOCPL/product

# Project admins must approve changes to packages
package-lock.json @NCIOCPL/ncids-leads
package.json @NCIOCPL/ncids-leads
**/package.json @NCIOCPL/ncids-leads
