// Navigation
$theme-navigation-font-family: "ui" !default;
$theme-megamenu-columns: 3 !default;

// Search
$theme-search-font-family: "ui" !default;
$theme-search-min-width: 27ch !default;

// Header
$theme-header-font-family: "ui" !default;
$theme-header-logo-text-width: 33% !default;
$theme-header-max-width: "desktop" !default;
$theme-header-min-width: "desktop" !default;

// Button
$theme-button-font-family: "serif" !default;
$theme-button-border-radius: "md" !default;
$theme-button-small-width: 6 !default;
$theme-button-stroke-width: 2px !default;

// Accordion
$theme-accordion-border-width: 0.5 !default;
$theme-accordion-border-color: "base-lightest" !default;
$theme-accordion-font-family: "serif" !default;
