@nciocpl:registry=https://npm.pkg.github.com
engine-strict=true
## This is for PNPM to want to use the lockfile when doing a pnpm install.
## This will hopefully minimize the number of PRs that have random package
## updates being committed.
prefer-frozen-lockfile=true
