@use "uswds-core" with (
	$font-palettes: ("palette-font"),
	$font-weight-palettes: ("palette-font-weight"),
	$theme-image-path: "@nciocpl/ncids-css/uswds-img",
	$theme-global-link-styles: true,
	$theme-show-notifications: false,
	$theme-show-compile-warnings: false,
	$theme-utility-breakpoints: (
		"card": false,
		"card-lg": false,
		"mobile": false,
		"mobile-lg": true,
		"tablet": true,
		"tablet-lg": true,
		"desktop": true,
		"desktop-lg": false,
		"widescreen": true
	)
);
@forward "ncids-full";
@forward "usa-prose";
@forward "usa-table";
@forward "usa-icon";

@forward './scss/Code.scss';
@forward './scss/CopyToClipboard.scss';
@forward './scss/Tabs.scss';
@forward './scss/IconCatalog.scss';
@forward './scss/markdown-heading';
@forward './scss/inline-code';

@forward './scss/uswds-site.scss';
@forward './scss/component-page.scss';
@forward './scss/search-page.scss';

@forward './scss/utility-class-tables';

@forward "./scss/back-to-top.scss";

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);

// Random styles for foundatiions/token-changes that we could not put in the MDX
.site-old-shadow-1 { box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1); }
.site-old-shadow-2 { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); }
.site-old-shadow-3 { box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.1); }
.site-old-shadow-4 { box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.1); }
.site-old-shadow-5 { box-shadow: 0 1px 32px 0 rgba(0, 0, 0, 0.1); }
