@use "uswds-core" as * with (
	$theme-image-path: "~@nciocpl/ncids-css/uswds-img", // todo webpack version upgrade
	$theme-show-notifications: false,
	$theme-show-compile-warnings: false,
	$theme-utility-breakpoints: (
		"card": false,
		"card-lg": false,
		"mobile": false,
		"mobile-lg": true,
		"tablet": true,
		"tablet-lg": true,
		"desktop": true,
		"desktop-lg": false,
		"widescreen": true
	)
);
@use "@nciocpl/ncids-css/packages" as ncids-css;


// Special Rule for first usa-section
$section-padding-height-double: 4;
$section-padding-height-double-mobile: 3;
main > .usa-section:nth-child(-n + 2):not(.nci-hero) {
	@include u-padding-top($section-padding-height-double-mobile);
	@include at-media("tablet") {
		@include u-padding-top($section-padding-height-double);
	}
}

// Special Rule for last page section
main > section:last-of-type {
	@include u-padding-bottom($section-padding-height-double-mobile);
	@include at-media("tablet") {
		@include u-padding-bottom($section-padding-height-double);
	}
}
