.usa-section {
	&--nci-cta-strip{
		padding: units(3) 0;
		box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,.3);

	}
	&--dark {
		background: $theme-color-accent-cool-darker !important;
		& a {
			color: $theme-cta-strip-icon-color;
			background: $theme-color-primary-dark;
		}
	}
}

ul.nci-cta-strip {
	align-items: center;
	@include u-display("flex");

	@include at-media-max('tablet') {
		@include u-display("block");
	}
	@include at-media('tablet') {
		padding:0 units(1);
	}
	@include at-media('desktop') {
		padding:0 units(1);
	}
	@include at-media('widescreen') {
		padding:0 units(1);
	}

	padding:0 0;
	margin:0 auto;
	width: 100%;

	li {
		flex: 1 0 33%;
	
		@include at-media('tablet') {
			@include u-display("inline-block");
			padding:0 units(1);

			&:first-child {
				padding-left:0;
			}
			&:last-child {
				padding-right:0;
			}
		}
		
		list-style-type: none;
		padding:units(1) units(0);


		.usa-button {
			padding-right: units(4);
			position: relative;
			width: 100% !important;

			@include place-icon(
				(
					"name": "navigate_next",
					"svg-height": $theme-cta-strip-icon-size,
					"svg-width": $theme-cta-strip-icon-size,
					"height": 2ex,
					"color": currentColor
				),
				"after",
				"1px",
				top,
				$theme-cta-strip-icon-color
			);

			&:after {
				position: absolute;
				right: units(1);
				top:50%;
				transform: translateY(-50%);
			}
		}
	}
}
