$theme-cta-strip-dark-background-color: $theme-color-primary-darker;
$theme-cta-strip-light-background-color: $theme-color-base;

$theme-internal-domains: (".gov","mailto:","javascript:");

$svg-size: 24;
$color: white;
