
<section class="usa-section">
    <form class="usa-form">
        <div class="usa-form-group">
            <label class="usa-label" for="input-text">Form Label</label>
            <div class="usa-hint" id="input-hint">form hint message</div>
        </div>
    </form>
</section>
<section class="usa-section usa-section--dark">
    <form class="usa-form">
        <div class="usa-form-group">
            <label class="usa-label" for="input-text">Form Label</label>
            <div class="usa-hint" id="input-hint">form hint message</div>
        </div>
    </form>
</section>
<section class="usa-section">
    <form class="usa-form">
        <div class="usa-form-group usa-form-group--error">
            <label class="usa-label usa-label--error" for="input-error">Form Label</label>
            <div class="usa-hint" id="input-hint">form hint message</div>
            <span class="usa-error-message" id="input-error-message" role="alert">Helpful form error message</span>
        </div>
    </form>
</section>
<section class="usa-section usa-section--dark">
    <form class="usa-form">
        <div class="usa-form-group usa-form-group--error">
            <label class="usa-label usa-label--error" for="input-error">Form Label</label>
            <div class="usa-hint" id="input-hint">form hint message</div>
            <span class="usa-error-message usa-error-message--nci-inverse" id="input-error-message" role="alert">Helpful form error message</span>
        </div>
    </form>
</section>
<section class="usa-section">
    <form class="usa-form">
        <div class="usa-form-group">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend">Fieldset Legend</legend>
                <div class="usa-hint" id="input-hint">form hint message</div>
            </fieldset>
        </div>
    </form>
</section>
<section class="usa-section usa-section--dark">
    <form class="usa-form">
        <div class="usa-form-group">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend">Fieldset Legend</legend>
                <div class="usa-hint" id="input-hint">form hint message</div>
            </fieldset>
        </div>
    </form>
</section>
<section class="usa-section">
    <form class="usa-form">
        <div class="usa-form-group usa-form-group--error">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend">Fieldset Legend</legend>
                <div class="usa-hint" id="input-hint">form hint message</div>
                <span class="usa-error-message">Helpful error message that is long and maybe options</span>
            </fieldset>
        </div>
    </form>
</section>
<section class="usa-section usa-section--dark">
    <form class="usa-form">
        <div class="usa-form-group usa-form-group--error">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend">Fieldset Legend</legend>
                <div class="usa-hint" id="input-hint">form hint message</div>
                <span class="usa-error-message usa-error-message--nci-inverse">Helpful error message that is long and maybe options</span>
            </fieldset>
        </div>
    </form>
</section>
