@import '@nciocpl/ncids-css/scss/lib/normalize';
@import '@nciocpl/ncids-css/scss/packages/required';
@import '@nciocpl/ncids-css/scss/packages/global';

// Component
@import '@nciocpl/ncids-css/scss/components/nci-autocomplete/nci-autocomplete';

form {
	flex-grow: 1;
	margin: 0;
	white-space: nowrap;
	position: relative;
	@include u-maxw('full');
	@include u-display('flex');
	justify-content: flex-start;

	// input
	& [type='search'] {
		@include u-display('block');
		box-sizing: border-box;
		color: color('ink');
		height: 2rem;
		margin: 0;
		padding: 0 0.5rem;
    width: 100%;
	}
}

label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.nci-autocomplete {
  width: 420px;
}

