<div class="cgdp-recomended-content cgdp-feature-card-row" aria-labelledby="featureCardRow" data-eddl-landing-row>
	<h2 id="featureCardRow" class="cgdp-feature-card-row__heading">Recommended Content</h2>
	<ul class="nci-card-group">

		<li class="nci-card tablet-lg:grid-col-4">
			<a href="#" aria-labelledby="test label by" data-eddl-landing-item="feature_card" data-eddl-landing-item-link-type="Internal">
				<picture class="nci-card__image">
					{{ cardImage }}
				</picture>
				<div class="nci-card__body">
					<span class="nci-card__title" id="paragraph-9903726">Etiam vulputate turpis</span>
					<p class="nci-card__description"> Sed ultrices, id viverra velit est nec erat. Donec sagittis euismod sem non posuere.</p>
				</div>
			</a>
		</li>

		<li class="nci-card tablet-lg:grid-col-4">
			<a href="#" aria-labelledby="test label by" data-eddl-landing-item="feature_card" data-eddl-landing-item-link-type="Internal">
				<picture class="nci-card__image">
					{{ cardImage }}
				</picture>
				<div class="nci-card__body">
					<span class="nci-card__title" id="paragraph-9903726">Non lacus interdum</span>
					<p class="nci-card__description">Donec sagittis euismod sem non posuere. Sed ultrices, id viverra velit est nec erat.</p>
				</div>
			</a>
		</li>

		<li class="nci-card tablet-lg:grid-col-4">
			<a href="#" aria-labelledby="test label by" data-eddl-landing-item="feature_card" data-eddl-landing-item-link-type="Internal">
				<picture class="nci-card__image">
					{{ cardImage }}
				</picture>
				<div class="nci-card__body">
					<span class="nci-card__title" id="paragraph-9903726">id viverra velit est nec erat</span>
					<p class="nci-card__description">Donec sagittis euismod sem non posuere. lorem nibh bibendum est.</p>
				</div>
			</a>
		</li>
	</ul>
</div>
