@import '@nciocpl/ncids-css/scss/base/required';
@import '@nciocpl/ncids-css/scss/base/normalize';
@import '@nciocpl/ncids-css/scss/base/global';
@import '@nciocpl/ncids-css/scss/components/usa-button/all';

// styles used for snapshot visibility only
.usa-button{
	margin-bottom: 1rem;

	&.usa-button--unstyled {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}
