@use 'uswds-core' as *;
@use '../../../internal-uswds/usa-site-alert/src/styles/usa-site-alert' as site-alert;

.usa-site-alert--nci-info {
	@extend .usa-site-alert--info;
	@include set-text-and-bg('info-lighter', 'black', 'black');

	.usa-alert {
		&__nci-button {
			&--close {
				@include set-text-and-bg('info-lighter', 'black', 'black');
			}

			&--toggle {
				@include set-text-and-bg('info-lighter', 'info-darker', 'black');
			}
		}

		.usa-alert__body {
			.usa-alert__nci-list li::marker,
			.usa-link {
				@include set-text-from-bg('info-lighter', 'info-darker', 'black');
			}
		}
	}
}
