.nci-megamenu {
	background-color: color($theme-color-primary-dark);
	display: block;
	padding-top: units(4);
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	z-index: z-index(400);
	-webkit-font-smoothing: antialiased;

	&.hidden,
	&[aria-hidden="true"] {
		display: none;
	}

	a {
		color: color("white");
		text-decoration: none;

		&:hover {
			background-color: transparent;
			color: color("white");
			text-decoration: underline;
		}
	}

	&__list,
	&__sublist {
		@include unstyled-list;
	}

	&__primary-pane {
		a, .nci-megamenu__primary-link {
			font-family: family('heading'), serif;
			font-size: size('heading', 9);
			font-weight: font-weight('bold');
			line-height: line-height('heading', 3);
			white-space: pre-line;

			$svg-size: 20;
			@include place-icon(
					(
						"name": "chevron_right",
						"svg-height": $svg-size,
						"svg-width": $svg-size,
						"height": 2ex,
						"color": "white"
					),
					"after",
					"1px",
					middle,
					"white"
			);
		}
	}

	&__items-pane {
		.nci-megamenu__list {
			margin-bottom: units(5);

			.nci-megamenu__list-item {
				line-height: line-height('heading', 3);

				a, .nci-megamenu__list-item-link {
					font-family: family('heading'), serif;
					font-size: size('heading', 8);
					font-weight: font-weight('bold');
				}
			}
		}

		.nci-megamenu__sublist {
			.nci-megamenu__sublist-item {
				line-height: line-height('ui', 2);
				margin-top: 10px;
				margin-bottom: 10px;

				a, .nci-megamenu__sublist-item-link {
					font-family: family('ui'), serif;
					font-size: size('ui', 5);
					font-weight: font-weight('normal');
				}
			}
		}
	}
}

// uswds

//.usa-nav__submenu.usa-megamenu {
//	@include at-media($theme-header-min-width) {
//		left: 0;
//		padding-left: units($theme-site-margins-width);
//	}
//}
