// BUTTONS
.nci-header-mobilenav__close-btn {
  @include button-unstyled;
  align-self: flex-end;
  display: inline-block;
  & .usa-icon {
    color: color("ink");
    fill: color("ink");
    height: units(2);
    width: units(2);
    overflow: hidden;
  }
}

// MENU BUTTON
.usa-button.nci-header-mobilenav__open-btn {
	display: inline-block;
  vertical-align: top;
	width: auto;
	@include at-media($theme-header-min-width) {
		display: none;
  }
}

// MOBILE NAV
.nci-header-mobilenav {
  background: color("white");
  border-right: 0;
  display: none;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;

  flex-direction: column;
  overflow-y: auto;
  padding: units(2);
  width: 20rem;
  z-index: 500;
  @include at-media-max($theme-modal-default-max-width) {
    width: 80%;
  }
  @include at-media($theme-header-min-width) {
  }
  &.active {
    display: flex;
  }
  &
    .nci-header-mobilenav__list
    > .nci-header-mobilenav__list-node:first-child:not(.active) {
    border-top: 1px solid color("gray-warm-10");
    margin-top: units(6);
  }
}

.nci-header-mobilenav__overlay {
  &.active {
    display: block;
  }
  display: none;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}

.nci-header-mobilenav__list {
  font-size: units(2);
  list-style-type: none;
  line-height: 1.3;
  max-width: 430px;
  margin: 0;
  padding-left: 0;

  &-item {
    margin-bottom: 0;
    max-width: unset;
    &:not(last-child) {
      border-bottom: 1px solid color("gray-warm-10");
    }
  }

  &-link {
    color: color("gray-warm-60");
    display: block;
    padding: units(1) units(2);
    position: relative;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      background: color("gray-warm-2");
      color: color("gray-warm-60");
    }
    &.hover {
      cursor: pointer;
      background: color("gray-warm-2");
      color: color("gray-warm-60");
    }
		&.current {
			color: color("primary");
			font-weight: 700;
		}
    &.current::after {
      background-color: color("primary");
      border-radius: 99rem;
      content: "";
      display: block;
      position: absolute;
      bottom: 0.25rem;
      top: 0.25rem;
      width: 0.25rem;
      left: 0.25rem;
    }
  }

  &-node {
    border-bottom: 1px solid color("gray-warm-10");
    color: color("gray-warm-60");
    padding: units(1) units(2);
    text-decoration: none;
    &:hover {
      background-color: color("gray-warm-2");
      color: color("gray-warm-60");
      cursor: pointer;
      text-decoration: none;
    }
    &.hover {
      background-color: color("gray-warm-2");
      color: color("gray-warm-60");
      cursor: pointer;
      text-decoration: none;
    }
    & > .nci-header-mobilenav__list-msg {
      display: none;
      @include add-background-svg("usa-icons/chevron_left");
      background-size: units(3) units(3);
      background-repeat: no-repeat;
      background-position: -8px center;
    }
    & > .nci-header-mobilenav__list-label {
      display: block;
      @include add-background-svg("usa-icons/chevron_right");
      background-size: units(3) units(3);
      background-repeat: no-repeat;
      background-position: right center;

      padding-right: units(2);
    }

    &.active {
      color: color("primary");
      font-weight: 700;
      padding-bottom: units(2.5);
      padding-left: 0px;

      & > .nci-header-mobilenav__list-msg {
        display: block !important;
        padding-left: units(2);
      }
      & > .nci-header-mobilenav__list-label {
        display: none !important;
        padding-left: 0;
      }
      &:hover {
        background: transparent;
      }
    }
  }

  &-holder {
    padding: 0px 0px;
  }
}

.nci-header-mobilenav__list > li > a {
  padding: units(1) 4px units(1) units(2);
}
// indentation for the mobile menu is nested
// and as such we need to be very specific about what
// list item gets padding for proper indentation
.nci-header-mobilenav__list
  > li
  > ul
  > li.nci-header-mobilenav__list-node:not(.active),
.nci-header-mobilenav__list
  > li
  > ul
  > li.nci-header-mobilenav__list-item:not(:first-child)
  > a {
  padding: units(1) 4px units(1) units(3);
}
// TODO: remove complexity of nested UL's when working
// with the typescript side of the mobile menu.
.nci-header-mobilenav__list
  > li
  > ul
  > li
  > ul
  > li.nci-header-mobilenav__list-node:not(.active),
.nci-header-mobilenav__list
  > li
  > ul
  > li
  > ul
  > li.nci-header-mobilenav__list-item:not(:first-child)
  > a {
  padding: units(1) 4px units(1) units(3);
}
