$nav-link-color: "gray-60";
$nav-link-arrow-icon-size: 2;

@mixin primary-link {
  color: color($nav-link-color);
  font-family: family("heading"), serif;
  font-size: font-size($theme-navigation-font-family, "md");
  font-weight: font-weight("bold");
  line-height: line-height($theme-navigation-font-family, 1);
  text-decoration: none;

  display: block;
  max-width: 200px;
  &:visited {
    color: color($nav-link-color);
  }
}

.nci-header-nav__primary {
  @include unstyled-list;
  @include border-box-sizing;
  @include typeset($theme-accordion-font-family);
  color: color("ink");
  margin: 0;
  width: 100%;

  > li {
    list-style-type: none;
    margin-bottom: 0;
    max-width: unset;
  }
  .nci-header-nav__primary-link {
    $button-vertical-offset: 53%;
    @include button-unstyled;
    @include primary-link;
    padding: units(2) units(1);
    &:hover {
      color: color("primary");
      @include add-before(0.5, "primary", "bottom", 0, 1);
      text-decoration: none;
    }
    &.hover {
      color: color("primary");
      @include add-before(0.5, "primary", "bottom", 0, 1);
      text-decoration: none;
    }
  }
  .nci-header-nav__primary-button {
    $button-vertical-offset: 53%;
    @include button-unstyled;
    @include primary-link;
    @include place-icon(
      (
        "name": "expand_more",
        "svg-height": 16,
        "svg-width": 16,
        "height": 2,
        "color": "gray-60"
      ),
      "after",
      "1px",
      baseline,
      "white"
    );
    padding: units(2) 1.5rem units(2) 0.5rem;
    position: relative;
    &:after {
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover:not(.usa-current),
		&.hover:not(.usa-current) {
      color: color("primary");
      @include add-before(0.5, "primary", "bottom", 0, 1);
      &:before {
        right: .5rem;
      }
      text-decoration: none;
    }
    &.usa-current,:active {
      @include place-icon(
        (
          "name": "expand_less",
          "svg-height": 16,
          "svg-width": 16,
          "height": 2,
          "color": "white"
        ),
        "after",
        "1px",
        baseline,
        $theme-color-primary-dark
      );
      @include add-knockout-font-smoothing;
      background-image: none;
      background-color: color($theme-color-primary-dark);
      color: color("white");
      position: relative;
      text-decoration: none;
      &:after {
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .nci-header-nav__primary-button {
    span {
      margin-right: 0;
    }
  }
}
