//@mixin nav-border-extended {
//	@include add-bar(0.5, "primary", "bottom", 0, 2);
//}
//
//@mixin nav-border-basic {
//	@include add-bar(0.5, "primary", "bottom", 0, 2, -0.5);
//}
//
//$z-index-header: 300;
//$z-index-overlay: 400;
//
//.usa-header--extended {
//	@include at-media($theme-header-min-width) {
//		padding-top: 0;
//
//		.usa-nav__primary-item > .usa-current,
//		.usa-nav__primary-item > .usa-nav__link:hover {
//			@include nav-border-extended;
//		}
//
//		// Don't show extended border if dropdown is active.
//		.usa-nav__link[aria-expanded="true"]::after,
//		.usa-nav__link[aria-expanded="true"]:hover::after {
//			display: none;
//		}
//	}
//}
//
//.usa-nav {
//	@include at-media($theme-header-min-width) {
//		border-top: units(1px) solid color("base-lighter");
//		padding: 0;
//		width: 100%;
//	}
//}
//
//.usa-nav__inner {
//	@include at-media($theme-header-min-width) {
//		@include grid-container($theme-header-max-width);
//		position: relative;
//	}
//}
//
//.usa-nav__primary {
//	@include at-media($theme-header-min-width) {
//		@include clearfix;
//		margin-left: units(-2);
//	}
//}
//
//.usa-nav__link {
//	@include at-media($theme-header-min-width) {
//		@include u-padding-y(2);
//	}
//}
//
//.usa-nav__submenu {
//	.usa-grid-full {
//		@include at-media($theme-header-min-width) {
//			padding-left: units(1.5);
//		}
//	}
//}
//
//.usa-nav__submenu.usa-megamenu {
//	@include at-media($theme-header-min-width) {
//		left: 0;
//		padding-left: units($theme-site-margins-width);
//	}
//}


// NCI LOGO STYLES
.nci-logo {
	height: auto;
	width: 100%;

	//tablet
	@include at-media-max($theme-header-min-width) {
	}
	//desktop
	@include at-media($theme-header-min-width) {
	}
	//mobile
	@include at-media-max($theme-modal-default-max-width) {
	}
	a {
		color: color("ink");
		display: block;
		height: 38px;
		width: auto;
		text-decoration: none;
	}

	img {
		height: auto;
		width: auto;
		max-width: 100%;
		max-height: 38px;
	}

	svg {
		height: 38px;
		width: 385px;
		max-width: 100%;
		max-height: 100%;
	}
}

// NCI HEADER EXTENDED
.nci-header--extended {
	.nci-header-nav  {
		border: none;
		padding: 0;
		width: 100%;

		@include at-media-max($theme-header-min-width) {
			display: block;
			position: relative; // todo
		}

		.nci-header-nav__inner {
			margin-left: auto;
			margin-right: auto;
			min-width: 25rem;
			max-width: 64rem;
			padding-left: units(2);
			padding-right: units(2);
			width: 100%;

			@include at-media($theme-header-min-width) {
				padding-left: units(3);
				padding-right: units(3);
			}
		}

		.nci-header-nav__primary {
			@include at-media-max($theme-header-min-width) {
				display: none;
			}
			display: flex;
			justify-content: space-between;
			margin-left: 0;
		}
	}
}

$nav-link-color: "gray-60";
$nav-link-arrow-icon-size: 2;

@mixin primary-link {
	color: color($nav-link-color);
	font-family: family("heading"), serif;
	font-size: font-size($theme-navigation-font-family, "md");
	font-weight: font-weight("bold");
	line-height: line-height($theme-navigation-font-family, 1);
	text-decoration: none;

	display: block;
	max-width: 200px;
	&:visited {
		color: color($nav-link-color);
	}
}

.nci-header-nav__primary {
	@include unstyled-list;
	@include border-box-sizing;
	@include typeset($theme-accordion-font-family);
	color: color("ink");
	margin: 0;
	width: 100%;

	> li {
		list-style-type: none;
		margin-bottom: 0;
		max-width: unset;
	}
	.nci-header-nav__primary-link {
		$button-vertical-offset: 53%;
		@include button-unstyled;
		@include primary-link;
		padding: units(2) units(1);
		&:hover {
			color: color("primary");
			@include add-before(0.5, "primary", "bottom", 0, 1);
			text-decoration: none;
		}
		&.hover {
			color: color("primary");
			@include add-before(0.5, "primary", "bottom", 0, 1);
			text-decoration: none;
		}
	}
	.nci-header-nav__primary-button {
		$button-vertical-offset: 53%;
		@include button-unstyled;
		@include primary-link;
		@include place-icon(
				(
					"name": "expand_more",
					"svg-height": 16,
					"svg-width": 16,
					"height": 2,
					"color": "gray-60"
				),
				"after",
				"1px",
				baseline,
				"white"
		);
		padding: units(2) 1.5rem units(2) 0.5rem;
		position: relative;
		&:after {
			position: absolute;
			right: 4px;
			top: 50%;
			transform: translateY(-50%);
		}
		&:hover:not(.usa-current),
		&.hover:not(.usa-current) {
			color: color("primary");
			@include add-before(0.5, "primary", "bottom", 0, 1);
			&:before {
				right: .5rem;
			}
			text-decoration: none;
		}
		&.usa-current,:active {
			@include place-icon(
					(
						"name": "expand_less",
						"svg-height": 16,
						"svg-width": 16,
						"height": 2,
						"color": "white"
					),
					"after",
					"1px",
					baseline,
					$theme-color-primary-dark
			);
			@include add-knockout-font-smoothing;
			background-image: none;
			background-color: color($theme-color-primary-dark);
			color: color("white");
			position: relative;
			text-decoration: none;
			&:after {
				position: absolute;
				right: 4px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.nci-header-nav__primary-button {
		span {
			margin-right: 0;
		}
	}
}
