// SEARCH STYLES
.nci-header--extended {
  .nci-header-nav__secondary {
    .nci-header-search__overlay {
      background: color("white");
      border: 1px solid color("gray-50");
      display: none;
      height: 8rem;
      left: 0px;
      position: absolute;
      top: 31px;
      width: 201px;
      &.active {
        display: block;
        z-index: 99;
      }
      @include at-media-max($theme-header-min-width) {
        left: 122px;
        top: 39px;
      }
    }
    .nci-header-search {
      margin: 0;
      width: auto;

			&__search-button {
        border: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font-size: font-size($theme-button-font-family, "xs");
        margin: 0;
        padding: 0.52rem units(1.5);
      }

      & [type="search"] {
        border-radius: 0;
        border-width: 1px;
        border-color: color("gray-50");
        border-style: solid;
        border-bottom-right-radius: 0;
        border-right: none;
        border-top-right-radius: 0;
        box-sizing: border-box;

        color: color("ink");
        display: block;

        float: left;
        height: 2rem;
        margin: 0;

        max-width: 20rem;
        padding: 0 0.5rem;

        width: 12.5rem;
      }

      &[role="search"] {
        max-width: 40rem;
      }

      @include at-media($theme-header-min-width) {
        margin-left: 0;
        margin-top: 0;
        & .usa-icon {
          display: none;
        }
      }

      @include at-media-max($theme-header-min-width) {
        & [type="search"] {
          float: left;
          font-size: font-size($theme-button-font-family, "md");
          height: 2.5rem;
        }
        & [type="submit"] {
          padding: 0.44rem units(1.5);
          & .nci-header-search__label {
            display: none;
          }
          & .usa-icon {
            color: color("white");
            fill: color("white");
            height: units(3);
            overflow: hidden;
            width: units(3);
          }
          max-width: units(6);
        }
      }
    }
  }
}
