@use 'uswds-core' as *;

ul.nci-cta-strip {
	align-items: center;
	@include u-display('flex');

	margin: 0;
	padding: units(2.5) 0;
	width: 100%;

	@include at-media-max('tablet-lg') {
		@include u-display('block');
	}

	@include at-media('mobile-lg') {
		padding: units(2.5) units(10);
	}

	@include at-media('tablet') {
		padding: units(2) units('card');
	}

	@include at-media('tablet-lg') {
		padding: units(2) units(10);
	}

	@include at-media('desktop') {
		padding: units(2) units(6);
	}

	li {
		flex: 1 0 33%;

		@include at-media('tablet-lg') {
			@include u-display('inline-block');
			padding: 0 units(1);

			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}

		list-style-type: none;
		padding: units(1) units(0);

		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
		}

		.usa-button {
			padding-right: units(4);
			position: relative;
			width: 100% !important;

			@include place-icon(
				(
					'name': 'navigate_next',
					'svg-height': $theme-cta-strip-icon-size,
					'svg-width': $theme-cta-strip-icon-size,
					'height': 2ex,
					'color': currentColor,
				),
				'after',
				'1px',
				top,
				$theme-cta-strip-icon-color
			);

			&:after {
				position: absolute;
				right: units(1);
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
