{% set params = {
	"label": "Skip to main content",
	"href": "#main-content",
} %}
{% include "@nciocpl/ncids-twig/components/usa-skipnav/usa-skipnav.twig" with params %}
<div style="background-color: #bdbdbd; min-height: 100px;width: 100%;">Navigation Placeholder</div>
<div id="main-content" role="main">Main Page Content</div>
