.usa-button--outline {
	background-color: color("transparent");

	&:hover,
	&.usa-button--hover {
		background-color: color("transparent");
	}

	&.usa-button--inverse {
		$button-inverse-color: $theme-link-reverse-color;
		$button-inverse-hover-color: $theme-link-reverse-hover-color;
		$button-inverse-active-color: $theme-link-reverse-active-color;

		box-shadow: $button-stroke color("base-lighter");
		color: color($button-inverse-color);

		&:visited {
			color: color($button-inverse-color);
		}

		&:hover,
		&.usa-button--hover {
			box-shadow: $button-stroke color($button-inverse-hover-color);
			color: color($button-inverse-hover-color);
		}

		&:active,
		&.usa-button--active {
			background-color: transparent;
			box-shadow: $button-stroke color($button-inverse-active-color);
			color: color($button-inverse-active-color);
		}

		&.usa-button--unstyled {
			@include button-unstyled;
			color: color($button-inverse-color);

			&:visited {
				color: color($button-inverse-color);
			}

			&:hover,
			&.usa-button--hover {
				color: color($button-inverse-hover-color);
			}

			&:active,
			&.usa-button--active {
				color: color($button-inverse-active-color);
			}
		}
	}
}
