@use 'uswds-core' as *;
@use "sass:meta" as meta;
@use '../../usa-button/internal/external' as button;

.nci-promo-block {
	@include u-bg('white');
	// (Only have comps for dark variant)
	@include u-shadow(2);
	&__content {
		// .nci-promo-block__content
		@include u-line-height('body', 4);
		@include u-padding(4);
		@include at-media('mobile-lg') {
			@include u-padding-x(5);
		}
		@include at-media('tablet') {
			@include u-padding-y(9);
		}
		@include at-media('tablet-lg') {
			@include u-padding-x(8);
		}
		@include at-media('desktop') {
			@include u-padding-x(9);
		}
		.usa-button {
			// Override for full width button at mobile-lg
			@include u-width('full');
			@include at-media('tablet') {
				width: fit-content;
			}
		}
		a,
		button {
			@include u-text('no-underline');
			@include u-text('white');
		}
	}
	&__heading {
		// .nci-promo-block__heading
		margin: 0 0 units(2);
		@include u-font('heading', 'xl');
		@include u-text('bold');
		@include at-media('mobile-lg') {
			@include u-font('heading', '2xl');
		}
		@include at-media('desktop') {
			@include u-font('heading', '3xl');
		}
	}
	&__text {
		// .nci-promo-block__text
		@include u-font-size('body', 'sm');
		margin: 0 0 units(3);
	}
}

// External Links (Icon)
@mixin promo-block-external-icon {
	@include button.button-external-icon-full-width();
	@include at-media('tablet') {
		padding-left: units(2.5) !important;
		padding-right: units(2.5) !important;
		&::after {
			position: static;
		}
	}
}

.nci-promo-block--external {
	.usa-button {
		@include external-link(
			'default',
			meta.get-mixin('promo-block-external-icon')
		);
	}
}
.nci-promo-block:not(.nci-promo-block--external) {
	.usa-button {
		@include automatic-external-link(
			'default',
			$external-mixin: meta.get-mixin('promo-block-external-icon')
		);
	}
}
