<form class="nci-header-search" role="search">
  <label class="usa-sr-only" for="myInput">
    {{ label }}
  </label>
  <input class="usa-input" id="myInput" type="search" name="search" {% if disabled %}disabled{% endif %} />
</form>
