@use "uswds-core" as *;

// Anchor link in headings

.site-linked-header {
	text-decoration: none;
	color: inherit;

	&::after {
		content: ' ';
		display: inline-block;
		visibility: hidden;
	}
	@include place-icon(
		(
			'name': 'link',
			'svg-height': 16,
			'svg-width': 16,
			'height': 2,
			'color': 'gray-cool-50',
		),
		'after',
		'1px',
		middle,
		'gray-cool-50'
	);
	&::after {
		vertical-align: middle;
		width: units(2);
		height: units(2);
		margin-left: units(1);

	}
	&:hover,
	&:focus {
		text-decoration: underline;
		&::after {
			visibility: visible;
		}
	}
}

// links styled to look like headings
.header-styled-link {
  @include h3;
  display: inline-block;

	// This is a hack. MDX v2 wraps the contents of the anchor in a <p> tag since
	// there is a newline in the .mdx files after the opening anchor. Unfortunately,
	// the linter is forcing the newline. So until we can update the linter, this
	// will just remove any margin from the <p> tag.
	& > p {
		@include u-margin(0);
	}
}

