@use "uswds-core" as *;

.site-code-preview {
	@include u-border(0.5);
	@include u-border('base-lightest');

	//assume that the helper function will fill in aria attributes

	&__heading {
		@include h4;
		@include u-padding-x(2.5);
		@include u-padding-y(1.5);
		@include u-bg('base-lightest');
	}

	// formerly preview-wrap, this is the live example area
	&__showcase {
		@include u-padding-x(3);
		@include u-padding-y(2);
	}

	&__code-wrap {
		@include u-position('relative');
		@include u-border-top(0.5);
		@include u-border('base-lightest');
		min-height: 56px;

		pre {
			@include u-margin(0);
			@include u-padding-x(2.5);
			@include u-padding-y(1.5);
			@include u-font-family('code');
		}
		.site-copy-button {
			@include u-position('absolute');
			top: 0.3rem;
			right: 0.5rem;
			z-index: 1;
		}

		&[aria-expanded='true'] {
			@include u-overflow('auto');
			max-height: none;

			+ .site-code-preview__show-more-toggle {
				&::after {
					transform: rotate(180deg);
				}
			}
		}

		&[aria-expanded='false'].expandable {
			@include u-overflow('hidden');
			max-height: 200px;
			--mask: linear-gradient(to bottom, white 25%, transparent);
			mask: var(--mask);
		}
	}

	&__show-more-toggle {
		@include u-flex('align-center');
		@include u-bg('white');
		@include u-border(0);
		appearance: none;
		width: 100%;
		color: color('primary');
		z-index: 1;

		&:hover {
			@include u-bg('base-lightest');
			color: color('primary');
		}

		&::after {
			@include u-display('inline-block'); @include u-margin-left(0.5);
			@include u-text('middle');
			content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' role='presentation'%3E%3Cpath d='M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z' fill='%23007bbd' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
			width: 24px;
			height: 24px;
		}
	}
}
