@use "uswds-core" as *;

.site-copy-button {
	background-color: transparent;
	border: none;
	font-size: 0.825rem;
	padding: 0.25rem;
	width: 42px;
	height: 42px;
	@include u-bg('base-lightest');
	border-radius: 50%;
}
