@use "uswds-core" as *;

.site-copy-button {
	@include u-bg('base-lightest');
	@include u-border(0);
	@include u-radius('pill');
  @include u-padding(1);
	font-size: 0.825rem;
	min-width: 42px;
	height: 42px;
}
