<div class="grid-col-9">
	<section class="usa-section usa-prose">
		<h2>Your Follow-Up Care Schedule</h2>

		<p>Each patient has a different follow-up care schedule. How often you return for follow-up visits is based on:</p>

		<ul>
			<li>the type of cancer you had</li>
			<li>the treatment you received</li>
			<li>your overall health, including possible treatment-related problems</li>
		</ul>

		<p>In general, people return to the doctor for follow-up appointments every 3 to 4 months during the first 2 to 3 years after treatment, and once or twice a year after that.</p>

		<p>At these visits, you may have a physical exam along with blood tests and other necessary tests and procedures. Which tests you receive and how often you receive them will be based on what your doctor thinks is best for you when creating your follow-up care plan.</p>

		{{ summarybox }}
	</section>

	<section class="usa-section usa-prose">
	<h2>What to Tell Your Doctor during Follow-Up Visits</h2>

	<p>When you meet with your doctor for follow-up visits, it’s important to talk openly about any physical or emotional problems you’re having. Always mention any symptoms, pain, or concerns that are new or that won’t go away. Or sometimes people have depression that lasts after treatment. Your doctor needs to know about it so they can help you.</p>

	<p>Keep in mind that just because you have new symptoms, it doesn’t necessarily mean the cancer has come back. It’s normal to have fears about every ache and pain that arises, but they may just be problems that your doctor can easily address.</p>

	<p>Some cancer treatments can cause problems that may not show up for months or years after treatment. These problems, called <a class="definition" data-glossary-id="CDR0000390292" href="/Common/PopUps/popDefinition.aspx?id=CDR0000390292&amp;version=Patient&amp;language=en">late effect</a>s,&nbsp;are specific to certain types of treatments and the dose received. When you discuss follow-up care with your doctor, they should talk with you about which late effects to watch for. Early medical attention can help reduce problems that may come from late effects. See <a href="https://www.cancer.gov/about-cancer/coping/survivorship/late-effects">Late Side Effects of Cancer Treatment</a>&nbsp;to learn more.</p>

	<p>Other things you should tell your doctor:</p>

	<ul>
		<li>any physical problems that interfere with your daily life&nbsp;such as:
		<ul>
			<li>fatigue</li>
			<li>problems with bladder, bowel, or sexual function</li>
			<li>trouble concentrating or memory changes</li>
			<li>trouble sleeping</li>
			<li>weight gain or loss</li>
		</ul>
		</li>
		<li>any new medicines, vitamins, herbs, or supplements you’re taking</li>
		<li>changes in your family medical history</li>
		<li>any emotional problems you’re having, such as anxiety, excessive worrying,&nbsp;or depression</li>
	</ul>

	<p><strong>It’s important to be aware of any changes in your health between scheduled visits</strong>. Report any problems to your doctor immediately. They can decide whether the problems are related to the cancer, the treatment you received, or an unrelated health issue.</p>
	</section>
</div>
