<article class="usa-accordion" id="accEx1" data-heading-selector="h3">
	<section class="usa-prose">
		<h3>this is section header 1 (ex. 1)</h3>
		<p>this is {% if isNested %}nested {% endif %}accordion content.</p>
		{% if isNested %}
			<article class="usa-accordion" id="accEx2" data-heading-selector="h4">
				<section class="usa-prose">
					<h4>this is nested section header 1 (ex. 2)</h4>
					<p>this is accordion content.</p>
					<ul>
						<li>fake list for content</li>
					</ul>
					<h5>Subheader meant to try and break stuff</h5>
					<p>Cuz they do this in content sometimes. this is the real test</p>
					<h4>this is nested section header 2 (ex. 2)</h4>
					<p>This is more content</p>
					<ol>
						<li>trying out some different content types</li>
					</ol>
				</section>
			</article>
		{% endif %}
		<h3>this is section header 2 (ex. 1)</h3>
		<p>This is more content</p>
		<ol>
			<li>trying out some different content types</li>
		</ol>
		<h4>Subheader meant to try and break stuff</h4>
		<p>Cuz they do this in content sometimes. this is the real test</p>
		<h3>this is section header 3 (ex. 1)</h3>
		<p>Even more content</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis fringilla orci eu sagittis. Phasellus sit amet neque vitae ex molestie condimentum sit amet sed leo.</p>
		<h3>this is section header 4 (ex. 1)</h3>
		<p>Even more content</p>
		<p>Donec ullamcorper porta nibh id accumsan. Quisque non ornare neque, et volutpat dolor. Vestibulum nisi ipsum, sagittis in ex ac, viverra placerat massa.</p>
	</section>
</article>
