<div class="cgdp-article-body cgdp-article-body--multiple">

	<section>
		<h2 id="overwhelmed">
			<p>Overwhelmed</p>
		</h2>
		<p>When you first learn that you have cancer, it's normal to feel as if your life is out of control. This could be because:</p>

		<ul>
			<li>you wonder if you're going to live.</li>
			<li>your normal routine is disrupted by doctor visits and treatments.</li>
			<li>people use medical terms that you don't understand.</li>
			<li>you feel like you can't do the things you enjoy.</li>
			<li>you feel helpless and lonely.</li>
		</ul>

		<p>Even if you feel out of control, there are ways you can take charge. It may help to learn as much as you can about your cancer and its treatment. The more you know, the more in control you'll feel. Ask your doctor questions and don't be afraid to say when you don't understand.</p>

		<p>For some people, it&nbsp;feels better to focus on things other than cancer when they can. If you have the desire and energy, try taking part in things you enjoy such as music, crafts, reading, or learning something new.</p>

	</section>


	<section>
		<h2 id="fear-and-worry">
			<p>Fear and Worry</p>
		</h2>
		<p>It's scary to hear that you have cancer. You may be afraid or worried about:</p>

		<ul>
			<li>being in pain, either from the cancer or the treatment</li>
			<li>feeling sick or looking different as a result of your treatment</li>
			<li>taking care of your family</li>
			<li>paying your bills</li>
			<li>keeping your job</li>
			<li>dying</li>
		</ul>

		<p>Some fears about cancer are based on stories, rumors, or wrong information. To cope with fears and worries, it often helps to be informed. Most people feel better when they learn the facts. They feel less afraid and know what to expect. Some studies even suggest that people who are well-informed about their illness and treatment are more likely to follow their treatment plans and recover from cancer more quickly than those who are not.</p>

	</section>


	<section>
		<h2 id="stress-and-anxiety">
			<p>Stress and Anxiety</p>
		</h2>
		<p>Both during and after treatment, it's normal to have
			<a class="definition" data-glossary-id="CDR0000450122" href="/Common/PopUps/popDefinition.aspx?id=CDR0000450122&amp;version=Patient&amp;language=en">stress</a>
			over all the life changes you're going through.&nbsp;Many people get confused or stressed over things such as:</p>

		<ul>
			<li>whether insurance will cover tests and treatment</li>
			<li>where to find emotional support</li>
			<li>how to get help with daily routines</li>
			<li>how cancer will affect their work-life</li>
			<li>getting rides to and from&nbsp;clinic visits</li>
		</ul>

		<p>Stress can keep your body from healing as well as it should. It’s important to be proactive and talk about issues such as those above early in treatment. Or have a family member or friend ask for you. For example:</p>

		<ul>
			<li>if you need help with insurance or financial issues, talk to your health care team so they’re aware of your concerns. Then speak to your hospital billing office and ask them for guidance. For more tips, see
				<a href="https://www.cancer.gov/about-cancer/managing-care/track-care-costs">Managing Cancer Costs and Medical Information</a>.</li>
			<li>for emotional and practical support, ask your hospital
				<a class="definition" data-glossary-id="CDR0000044730" href="/Common/PopUps/popDefinition.aspx?id=CDR0000044730&amp;version=Patient&amp;language=en">social worker</a>
				or nurse where to find resources that can help you.&nbsp;</li>
		</ul>

		<p>Anxiety means you have extra worry, can't relax, and feel tense. You may notice that you:</p>

		<ul>
			<li>have a rapid heartbeat.</li>
			<li>have headaches or muscle pains.</li>
			<li>don't feel like eating. Or you eat more.</li>
			<li>feel sick to your stomach or have
				<a class="definition" data-glossary-id="CDR0000306496" href="/Common/PopUps/popDefinition.aspx?id=CDR0000306496&amp;version=Patient&amp;language=en">diarrhea</a>.</li>
			<li>feel shaky, weak, or dizzy.</li>
			<li>have a tight feeling in your throat and chest.</li>
			<li>sleep too much or too little.</li>
			<li>find it hard to concentrate.</li>
		</ul>

		<p>If you have any of these feelings, talk to your doctor. Though they are common signs of stress and anxiety, you will want to make sure they aren't due to medicines or treatment.</p>

		<p>If you're worried about your stress, ask your doctor to suggest a counselor for you to talk to or ask about online or in-person&nbsp;<a class="definition" data-glossary-id="CDR0000045917" href="/Common/PopUps/popDefinition.aspx?id=CDR0000045917&amp;version=Patient&amp;language=en">support groups</a>. You could also ask if there's a class you can take that teaches ways to deal with stress. There are also many online classes and apps that help with
			<a class="definition" data-glossary-id="CDR0000467850" href="/Common/PopUps/popDefinition.aspx?id=CDR0000467850&amp;version=Patient&amp;language=en">mind-body exercise</a>s,
			<a class="definition" data-glossary-id="CDR0000730354" href="/Common/PopUps/popDefinition.aspx?id=CDR0000730354&amp;version=Patient&amp;language=en">meditation</a>, and other forms of stress reduction. The key is to find ways to control your stress and not to let it control you. (See
			<a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="85099b54-77c9-447a-8281-9f9f51f1a402" href="/about-cancer/coping/feelings/stress-fact-sheet">Stress and Cancer</a>
			and&nbsp;<a href="https://www.cancer.gov/about-cancer/coping/adjusting-to-cancer/support-groups">Cancer Support Groups</a>.)</p>

	</section>


	<section>
		<h2 id="hope">
			<p>Hope</p>
		</h2>
		<p>Once people accept that they have cancer and get into a new routine with treatment, they often feel a sense of hope. There are many reasons to feel hopeful. Millions of people who have had cancer are alive today. Your chances of living with cancer—and living beyond it—are better now than they have ever been before. And people with cancer can lead active lives, even during treatment.</p>

		<p>Some doctors think that hope may help your body deal with cancer. So, scientists are studying whether a hopeful outlook and positive attitude helps people feel better. Below are some ways you can build your sense of hope.&nbsp;</p>

		<ul>
			<li>Plan your days and schedule as you've always done. It may change somewhat but that's okay.</li>
			<li>As much as you're able, try not to limit the things you like to do.</li>
			<li>Look for reasons to have hope. If it helps, write them down or talk to others about them.</li>
			<li>Spend time in nature.</li>
			<li>Reflect on your religious or
				<a class="definition" data-glossary-id="CDR0000441265" href="/Common/PopUps/popDefinition.aspx?id=CDR0000441265&amp;version=Patient&amp;language=en">spiritual</a>
				beliefs.</li>
			<li>Listen to stories about people with cancer who are leading active lives.</li>
		</ul>

	</section>


	<section>
		<h2 id="anger">
			<p>Anger</p>
		</h2>
		<p>It's very normal to ask, "Why me?" and be angry at the cancer. You may also feel anger or resentment towards your health care providers, your healthy friends, and your loved ones. And if you're religious, you may even feel angry with God.</p>

		<p>Anger often comes from feelings that are hard to show. Common examples are:</p>

		<ul>
			<li>fear</li>
			<li>
				<a class="definition" data-glossary-id="CDR0000454704" href="/Common/PopUps/popDefinition.aspx?id=CDR0000454704&amp;version=Patient&amp;language=en">panic</a>
			</li>
			<li>frustration</li>
			<li>
				<a class="definition" data-glossary-id="CDR0000430405" href="/Common/PopUps/popDefinition.aspx?id=CDR0000430405&amp;version=Patient&amp;language=en">anxiety</a>
			</li>
			<li>helplessness</li>
		</ul>

		<p>If you feel angry, you don't have to pretend that everything is okay. It's not healthy to keep it inside you. Sometimes anger can be helpful in the short term, for it may motivate you to take action. But having constant anger or resentment won't feel good to you or the people around you.&nbsp;Talk with your family and friends about your anger. Or, ask your doctor to refer you to a counselor.</p>

	</section>


	<section>
		<h2 id="sadness-and-depression">
			<p>Sadness and Depression</p>
		</h2>
		<p>Many people with cancer feel sad. They feel a sense of loss of their health, and the life they had before they learned they had the disease. Even when you’re done with treatment, you may still feel sad. This is a common response to any serious illness. It may take time to work through and accept all the changes that are taking place.</p>

		<p>When you're sad, you may have very little energy, feel tired, or not want to eat. For some, these feelings go away or lessen over time. But for others, these emotions can become stronger. The painful feelings don't get any better, and they get in the way of daily life. This may mean you have
			<a class="definition" data-glossary-id="CDR0000430479" href="/Common/PopUps/popDefinition.aspx?id=CDR0000430479&amp;version=Patient&amp;language=en">depression</a>, which can be common in some people with cancer. Often people don't realize that depression is a medical condition that can be treated.&nbsp;For some, cancer treatment may have added to this problem by changing the way the brain works.</p>

		<h3>Getting Help for Depression</h3>

		<p>Depression can be treated. Below are common signs of depression. If you have any of the following signs for more than 2 weeks, talk to your doctor about treatment. Be aware that some of these symptoms could be due to physical problems, so it's important to talk about them with your doctor.</p>

		<p>Emotional signs:</p>

		<ul>
			<li>feelings of sadness that don't go away</li>
			<li>feeling emotionally numb</li>
			<li>feeling nervous or shaky</li>
			<li>having a sense of guilt or feeling unworthy</li>
			<li>feeling helpless or hopeless, as if life has no meaning</li>
			<li>feeling short-tempered, moody</li>
			<li>having a hard time concentrating, feeling scatterbrained</li>
			<li>crying for long periods of time or many times each day</li>
			<li>focusing on worries and problems</li>
			<li>no interest in the hobbies and activities you used to enjoy</li>
			<li>finding it hard to enjoy everyday things, such as food or being with family and friends</li>
			<li>thinking about hurting yourself</li>
			<li>thoughts of
				<a class="definition" data-glossary-id="CDR0000450124" href="/Common/PopUps/popDefinition.aspx?id=CDR0000450124&amp;version=Patient&amp;language=en">suicide</a>
			</li>
		</ul>

		<p>Body changes:</p>

		<ul>
			<li>unintended weight gain or loss not due to illness or treatment</li>
			<li>sleep problems, such as not being able to sleep, having nightmares, or sleeping too much</li>
			<li>racing heart, dry mouth, increased perspiration, upset stomach, diarrhea</li>
			<li>changes in energy level</li>
			<li>
				<a class="definition" data-glossary-id="CDR0000321374" href="/Common/PopUps/popDefinition.aspx?id=CDR0000321374&amp;version=Patient&amp;language=en">fatigue</a>
				that doesn't go away</li>
			<li>headaches, other aches and pains</li>
		</ul>

		<p>If your doctor thinks that you suffer from depression, they may give you medicine to help you feel less tense. Or they may refer you to other experts. Don't feel that you should have to control these feelings on your own. Getting the help you need is important for your life and your health.</p>

		<p>However, if you have thoughts of suicide, dial 911 in an emergency or call, text, or chat 988 to reach the
			<a href="https://988lifeline.org/">988 Suicide and Crisis Lifeline</a>. Counselors are available 24 hours a day, 7 days a week, including services for people who are deaf or hard of hearing.</p>

	</section>


	<section>
		<h2 id="gratitude">
			<p>Gratitude</p>
		</h2>
		<p>Some people see their cancer as a "wake-up call." They realize the importance of enjoying the little things in life. They go places they've never been. They finish projects they had started but put aside. They spend more time with friends and family. They mend broken relationships.</p>

		<p>It may be hard at first, but try to look for the joy in your life if you have cancer. Pay attention to the things you do each day that make you smile. They can be as simple as drinking a good cup of coffee, being with a child,&nbsp;or talking to a friend.</p>

		<p>You can also do things that are more special to you, like being in nature or praying in a place that has meaning for you. Or it could be playing a game you love or cooking a good meal. Whatever you choose, embrace the things that bring you joy when you can.</p>

	</section>


	<section>
		<h2 id="loneliness">
			<p>Loneliness</p>
		</h2>
		<p>People with cancer often feel lonely or distant from others. This may be for a number of reasons such as:</p>

		<ul>
			<li>friends sometimes have a hard time dealing with cancer and may not visit or call you.</li>
			<li>you feel like no one cares.</li>
			<li>you may feel too sick to take part in the hobbies and activities you used to enjoy.</li>
			<li>you don't feel like reaching out.</li>
			<li>even when you’re with people you care about, you may feel that no one understands what you’re going through.</li>
		</ul>

		<p>It’s also normal to feel alone
			<em>after</em>
			treatment. You may miss the support you got from your health care team. Many people have a sense that their safety net has been pulled away, and they get less attention. It’s common to still feel cut off from certain friends or family members. Some of them may think that now that treatment is over, you will be back to normal soon, even though this may not be true. Others may want to help but don’t know how.</p>

		<p>Look for emotional support in different ways. It could help you to talk to other people who have cancer or to join a support group that meets in person or online. Or you may feel better talking only to a close friend, family member, counselor, or a member of your faith or spiritual community. Do what feels right for you.</p>

	</section>


	<section>
		<h2 id="guilt">
			<p>Guilt</p>
		</h2>
		<p>If you feel guilty, know that many people with cancer feel this way. Sometimes people blame themselves for:</p>

		<ul>
			<li>upsetting the people they love.</li>
			<li>thinking that they're a burden in some way.</li>
			<li>missing work.</li>
			<li>having to spend money on the costs of cancer care.</li>
			<li>feeling envy of&nbsp;other people's good health and being ashamed of this feeling.</li>
			<li>making lifestyle choices that they think could have led to&nbsp;cancer.</li>
		</ul>

		<p>Remember that having cancer is not your fault. No one knows why some people get cancer while others don't. It may help you to share your feelings with someone. Let your doctor know if you would like to talk with a
			<a class="definition" data-glossary-id="CDR0000688836" href="/Common/PopUps/popDefinition.aspx?id=CDR0000688836&amp;version=Patient&amp;language=en">counselor</a>
			or go to a
			<a class="definition" data-glossary-id="CDR0000045917" href="/Common/PopUps/popDefinition.aspx?id=CDR0000045917&amp;version=Patient&amp;language=en">support group</a>. (See more tips below.)</p>

		<p><!--{C}%3C!%2D%2D%20Pullquote%20%2D%2D%3E--></p>

		<div class="pullquote">
			<p class="pullquote-text">When I start to feel guilty that I caused my illness, I think of how little kids get cancer. That makes me realize that cancer can just happen. It isn't my fault.</p>

			<p class="author">Becky</p>
		</div>

	</section>


	<section>
		<h2 id="more-ways-to-cope-with-your-emotions">
			<p>More Ways to Cope with Your Emotions</p>
		</h2>
		<h3>Express your feelings</h3>

		<p>People have found that when they express strong feelings like anger or sadness, they're more able to let go of them. Some sort out their feelings by talking to friends or family, other cancer survivors, a support group, or a counselor. But even if you prefer not to discuss your cancer with others, you can still sort out your feelings by thinking about them or writing them down.</p>

		<h3>Don't blame yourself for your cancer</h3>

		<p>Some people believe that they got cancer because of something they did or did not do. But scientists don't know why one person gets cancer and one person doesn't. All bodies are different. Remember, cancer can happen to anyone.</p>

		<h3>Don't try to be upbeat if you're not</h3>

		<p>Many people say they want to have the freedom to give in to their feelings sometimes. As one woman said, “When it gets really bad, I just tell my family I'm having a bad cancer day and go upstairs and crawl into bed.”</p>

		<h3>You choose when to talk about your cancer</h3>

		<p>It can be hard for people to know how to talk to you about your cancer. Often loved ones mean well, but they don't know what to say or how to act. If you want to talk, you can make them feel more at ease by asking them what they're thinking or how they're feeling. And if you don't want to talk about it, it's okay to say that too. You can let them know when you're ready to talk.&nbsp;</p>

		<h3>Find ways to help yourself relax</h3>

		<p>Whatever activity helps you unwind, you should take some time to do it.
			<a class="definition" data-glossary-id="CDR0000730354" href="/Common/PopUps/popDefinition.aspx?id=CDR0000730354&amp;version=Patient&amp;language=English">Meditation</a>,
			<a class="definition" data-glossary-id="CDR0000689577" href="/Common/PopUps/popDefinition.aspx?id=CDR0000689577&amp;version=Patient&amp;language=English">guided imagery</a>, and
			<a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="fc580a12-c833-4ec6-aabf-cf864fdcf11f" href="/about-cancer/coping/feelings/relaxation">relaxation exercises</a>
			are just a few ways that have been shown to help others; these may help you relax when you feel worried.</p>

		<h3>Be as active as you can</h3>

		<p>Getting out of the house and doing something can help you focus on other things besides cancer and the worries it brings. Exercise or gentle
			<a class="definition" data-glossary-id="CDR0000532135" href="/Common/PopUps/popDefinition.aspx?id=CDR0000532135&amp;version=Patient&amp;language=en">yoga</a>
			and stretching can help too.</p>

		<h3>Find hobbies and activities you enjoy</h3>

		<p>You may like hobbies such as knitting, woodworking, pottery, photography, puzzles, reading, or crafts. Or find creative outlets such as art, movies, music, or dance.&nbsp;</p>

		<h3>Learn how to manage side effects</h3>

		<p>The physical
			<a class="definition" data-glossary-id="CDR0000046580" href="/Common/PopUps/popDefinition.aspx?id=CDR0000046580&amp;version=Patient&amp;language=en">side effects</a>
			of cancer can affect your emotions. Often if our body doesn't feel good, we don't feel good mentally either. For example, if someone is in pain, they might get cranky with others. Or if people are fatigued, it might make them feel sad. To learn about cancer side effects and ways to control them, see
			<a href="https://www.cancer.gov/about-cancer/treatment/side-effects">Side Effects of Cancer Treatment</a>.</p>

		<h3>Look at what you can control</h3>

		<p>Some people say that putting their lives in order helps. Being involved in your health care, asking questions, keeping your appointments, and making changes in your lifestyle are among the things you can control. Even setting a daily schedule can give you a sense of control. And while no one can control every thought, some say that they try not to dwell on the fearful ones,&nbsp;but&nbsp;instead&nbsp;do what they can to enjoy the&nbsp;positive parts of life. If you can, try to use your energy to focus on what makes you feel better and what you can do now to stay as healthy as possible.</p>

	</section>

</div>
