<div class="usa-accordion" data-heading-selector="h2">
	<h2>Heading</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis fringilla orci eu sagittis. Phasellus sit amet neque vitae ex molestie condimentum sit amet sed leo.</p>
	<ul>
		<li>fake list for content</li>
	</ul>
	<div class="usa-accordion" data-heading-selector="h3">
		<h3>Sub heading</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis fringilla orci eu sagittis.</p>
		<h4>Sub Sub Heading</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis fringilla orci eu sagittis.</p>
	</div>
	<h3>Some sub heading</h3>
	<p>Some sub content for the sub heading</p>
	<h2>Heading 2</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis fringilla orci eu sagittis. Phasellus sit amet neque vitae ex molestie condimentum sit amet sed leo.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis fringilla orci eu sagittis. Phasellus sit amet neque vitae ex molestie condimentum sit amet sed leo.</p>
	<ul>
		<li>fake list for content</li>
		<li>more items in content</li>
	</ul>
</div>
