<div class="usa-prose">
	<div class="cgdp-article-body cgdp-article-body--multiple" data-heading-selector=".nci-heading-h2">

		<section class="cgdp-article-body__section" aria-labelledby="how-chemotherapy-works-against-cancer">
			<h2 class="nci-heading-h2" id="how-chemotherapy-works-against-cancer">
				How chemotherapy works against cancer
			</h2>
			<div class="usa-prose usa-prose--ncids-full-html">
				<p>Chemotherapy works by killing or stopping the growth of cancer and other fast-growing cells. Chemotherapy is used for two reasons:</p>
				<h3  class="nci-heading-h3">Simple H3 inside content</h3>
				<p>Chemotherapy works by killing or stopping the growth of cancer and other fast-growing cells. Chemotherapy is used for two reasons:</p>
				<h3  class="nci-heading-h3">Trick H3 inside content</h3>
				<p>Chemotherapy works by killing or stopping the growth of cancer and other fast-growing cells. Chemotherapy is used for two reasons:</p>

			</div>

		</section>

		<section class="cgdp-article-body__section" aria-labelledby="which-types-of-cancer-does-chemotherapy-treat">
			<h2 class="nci-heading-h2" id="which-types-of-cancer-does-chemotherapy-treat">
				Which types of cancer does chemotherapy treat
			</h2>
			<p class="usa-prose">Chemotherapy works by killing or stopping the growth of cancer and other fast-growing cells. Chemotherapy is used for two reasons:</p>

			<div class="usa-prose usa-prose--ncids-full-html">
				<p>Chemotherapy is used to treat many types of cancer. For some people, chemotherapy may be the only treatment you receive. But most often, you will have chemotherapy with other cancer treatments. The types of treatment that you need depend on the type of cancer you have, if it has spread and where, and if you have other health problems.&nbsp;To learn more about treatment for your cancer, see the&nbsp;<a href="/publications/pdq/information-summaries/adult-treatment" data-entity-type="node" data-entity-uuid="7bf97270-fb19-48f3-9226-f6f101b1ba4e" data-entity-substitution="canonical">PDQ® cancer treatment summaries for adult</a>&nbsp;and&nbsp;<a href="/publications/pdq/information-summaries/pediatric-treatment" data-entity-type="node" data-entity-uuid="8850a973-b88a-4adb-8862-83b105d27fa8" data-entity-substitution="canonical">childhood cancers</a>.</p>
			</div>

		</section>

		<section class="cgdp-article-body__section" aria-labelledby="how-chemotherapy-is-used-with-other-cancer-treatments">
			<h2 class="nci-heading-h2" id="how-chemotherapy-is-used-with-other-cancer-treatments">
				How chemotherapy is used with other cancer treatments
			</h2>
			<div class="usa-prose usa-prose--ncids-full-html">
				<p>When used with other treatments, chemotherapy can:</p>
				<ul>
					<li>make a tumor smaller before surgery or radiation therapy (called <a data-gloss-id="45800" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/45800" class="cgdp-definition-link">neoadjuvant</a> chemotherapy)</li>
					<li>destroy cancer cells that may remain after surgery or radiation therapy (called <a data-gloss-id="45587" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/45587" class="cgdp-definition-link">adjuvant chemotherapy</a>)</li>
					<li>help other treatments work better</li>
					<li>kill cancer cells that have returned or spread to other parts of your body</li>
				</ul>
			</div>

		</section>

		<section class="cgdp-article-body__section" aria-labelledby="chemotherapy-can-cause-side-effects">
			<h2 class="nci-heading-h2" id="chemotherapy-can-cause-side-effects">
				Chemotherapy can cause side effects
			</h2>
			<div class="usa-prose usa-prose--ncids-full-html">
				<p>Chemotherapy not only kills fast-growing cancer cells, but also kills or slows the growth of healthy cells that grow and divide quickly. Examples are cells that line your mouth and <a data-gloss-id="46335" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/46335" class="cgdp-definition-link">intestines</a> and those that cause your hair to grow. Damage to healthy cells may cause side effects, such as mouth sores, nausea, and hair loss. Side effects often get better or go away after you have finished chemotherapy.</p>
				<p>The most common side effect is fatigue, which is feeling exhausted and worn out. You can prepare for fatigue by:</p>
				<ul>
					<li>asking someone to drive you to and from chemotherapy</li>
					<li>planning time to rest on the day of and day after chemotherapy</li>
					<li>asking for help with meals and childcare on the day of and at least one day after chemotherapy</li>
				</ul>
				<p>There are many ways you can help manage chemotherapy side effects. For more information, see the section on <a href="/about-cancer/treatment/side-effects" data-entity-type="node" data-entity-uuid="e7202b67-b320-4e4e-bdfe-bd307e7cba5e" data-entity-substitution="canonical">side effects</a>.</p>
			</div>

		</section>

		<section class="cgdp-article-body__section" aria-labelledby="how-much-chemotherapy-costs">
			<h2 class="nci-heading-h2" id="how-much-chemotherapy-costs">
				How much chemotherapy costs
			</h2>
			<div class="usa-prose usa-prose--ncids-full-html">
				<p>The cost of chemotherapy depends on:</p>
				<ul>
					<li>the types and <a data-gloss-id="44664" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/44664" class="cgdp-definition-link">doses</a> of chemotherapy used</li>
					<li>how long and how often chemotherapy is given</li>
					<li>whether you get chemotherapy at home, in a clinic or office, or during a hospital stay</li>
					<li>the part of the country where you live</li>
				</ul>
				<p>Talk with your health insurance company about what services it will pay for. Most insurance plans pay for chemotherapy. To learn more, talk with the business office where you go for treatment.</p>
				<p>If you need financial assistance, there are organizations that may be able to help. Call <a href="/contact" data-entity-type="node" data-entity-uuid="28cb3f62-49e4-4b51-b97c-3b453b693e5d" data-entity-substitution="canonical">NCI's Cancer Information Service</a> toll-free at 1-800-4-CANCER (1-800-422-6237) to ask for information on organizations that may be able to provide financial help.</p>
			</div>

		</section>

		<section class="cgdp-article-body__section" aria-labelledby="what-to-expect-when-receiving-chemotherapy">
			<h2 class="nci-heading-h2" id="what-to-expect-when-receiving-chemotherapy">
				What to expect when receiving chemotherapy
			</h2>
			<div class="usa-prose usa-prose--ncids-full-html">
				<h3  class="nci-heading-h3">How chemotherapy is given</h3>
				<p>Chemotherapy may be given in many ways. Some common ways include:</p>
				<ul>
					<li><strong>oral:&nbsp;</strong>comes in pills, capsules, or liquids that you swallow</li>
					<li><strong>intravenous (IV):&nbsp;</strong>goes directly into a <a data-gloss-id="476471" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/476471" class="cgdp-definition-link">vein</a></li>
					<li><strong>injection: </strong>given by a shot in a muscle in your arm, thigh, or hip, or right under the skin in the fatty part of your arm, leg, or belly</li>
					<li><strong>intrathecal: </strong><a data-gloss-id="44678" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/44678" class="cgdp-definition-link">injected</a> into the space between the layers of tissue that cover the brain and spinal cord</li>
					<li><strong>intraperitoneal (IP):&nbsp;</strong>goes directly into the peritoneal cavity, which is the area in your body that contains <a data-gloss-id="257523" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/257523" class="cgdp-definition-link">organs</a> such as your intestines, stomach, and liver</li>
					<li><strong>intra-arterial (IA):&nbsp;</strong>injected directly into the <a data-gloss-id="440100" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/440100" class="cgdp-definition-link">artery</a> that leads to the cancer</li>
					<li><strong>topical:</strong>&nbsp;comes in a cream that you rub onto your skin</li>
				</ul>
				<p>Of all the methods mentioned above, chemotherapy is most often given with an IV, through a thin needle that is placed in a vein on your hand or lower arm. Your nurse will put the needle in at the start of each treatment and remove it when treatment is over. IV chemotherapy may also be given through catheters or ports, sometimes with the help of a pump.</p>
				<ul>
					<li><strong>Catheter:</strong> A catheter is a thin, soft tube. A doctor or nurse places one end of the catheter in a large vein, often in your chest area. The other end of the catheter stays outside your body. Most catheters stay in place until you have finished your chemotherapy treatments. Catheters can also be used to give you other drugs and to draw blood. Be sure to watch for signs of infection around your catheter. See the section about <a href="/about-cancer/treatment/side-effects/infection" data-entity-type="node" data-entity-uuid="6c4921fd-ebe3-4a3e-a9d4-027b2b6d7c38" data-entity-substitution="canonical">infection</a> for more information.</li>
					<li><strong>Port:&nbsp;</strong>A port is a small, round disc that is placed under your skin during minor surgery. A <a data-gloss-id="44306" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/44306" class="cgdp-definition-link">surgeon</a> puts it in place before you begin your course of treatment, and it remains there until you have finished. A catheter connects the port to a large vein, most often in your chest. Your nurse can insert a needle into your port to give you chemotherapy or draw blood. This needle can be left in place for chemotherapy treatments that are given for longer than one day. Be sure to watch for signs of infection around your port. See the section about <a href="/about-cancer/treatment/side-effects/infection" data-entity-type="node" data-entity-uuid="6c4921fd-ebe3-4a3e-a9d4-027b2b6d7c38" data-entity-substitution="canonical">infection</a> for more information.</li>
					<li><strong>Pump:&nbsp;</strong>Pumps are often attached to catheters or ports. They control how much and how fast chemotherapy goes into a catheter or port, allowing you to receive your chemotherapy outside of the hospital. Pumps can be internal or external. External pumps remain outside your body. Internal pumps are placed under your skin during surgery.</li>
				</ul>
				<h3  class="nci-heading-h3">How your doctor decides which chemotherapy drugs to give you</h3>
				<p>There are many different chemotherapy drugs. Which ones are included in your treatment plan depends mostly on:</p>
				<ul>
					<li>the type of cancer you have and how advanced it is</li>
					<li>whether you have had chemotherapy before</li>
					<li>whether you have other health problems, such as <a data-gloss-id="44911" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/44911" class="cgdp-definition-link">diabetes</a> or <a data-gloss-id="748138" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/748138" class="cgdp-definition-link">heart disease</a></li>
				</ul>
				<h3  class="nci-heading-h3">Where you go for chemotherapy</h3>
				<p>You may receive chemotherapy during a hospital stay, at home, or as an outpatient at a doctor’s office, clinic, or hospital. Outpatient means you do not stay overnight. No matter where you go for chemotherapy, your doctor and nurse will watch for side effects and help you manage them. For more information on side effects and how to manage them, see the section on <a href="/about-cancer/treatment/side-effects" data-entity-type="node" data-entity-uuid="e7202b67-b320-4e4e-bdfe-bd307e7cba5e" data-entity-substitution="canonical">side effects</a>.</p>
				<h3  class="nci-heading-h3">How often you receive chemotherapy</h3>
				<p>Treatment schedules for chemotherapy vary widely. How often and how long you get chemotherapy depends on:</p>
				<ul>
					<li>your type of cancer and how advanced it is</li>
					<li>whether chemotherapy is used to:<ul>
							<li>cure your cancer</li>
							<li>control cancer's growth</li>
							<li>ease symptoms</li>
						</ul>
					</li>
					<li>the type of chemotherapy you are getting</li>
					<li>how your body responds to the chemotherapy</li>
				</ul>
				<p>You may receive chemotherapy in cycles. A cycle is a period of chemotherapy treatment followed by a period of rest. For instance, you might receive chemotherapy every day for 1 week followed by 3 weeks with no chemotherapy. These 4 weeks make up one cycle. The rest period gives your body a chance to <a data-gloss-id="454708" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/454708" class="cgdp-definition-link">recover</a> and build new healthy cells.</p>
				<h3  class="nci-heading-h3">Missing a chemotherapy treatment</h3>
				<p>It is best not to skip a chemotherapy treatment. But, sometimes your doctor may change your chemotherapy schedule if you are having certain side effects. If this happens, your doctor or nurse will explain what to do and when to start treatment again.</p>
				<h3  class="nci-heading-h3">How chemotherapy may affect you</h3>
				<p>Chemotherapy affects people in different ways. How you feel depends on:</p>
				<ul>
					<li>the type of chemotherapy you are getting</li>
					<li>the dose of chemotherapy you are getting</li>
					<li>your type of cancer</li>
					<li>how advanced your cancer is</li>
					<li>how healthy you are before treatment</li>
				</ul>
				<p>Since everyone is different and people respond to chemotherapy in different ways, your doctor and nurses cannot know for sure how you will feel during chemotherapy.</p>
				<h3  class="nci-heading-h3">How will I know if chemotherapy is working?</h3>
				<p>You will see your doctor often. During these visits, they will ask you how you feel, do a <a data-gloss-id="270871" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/270871" class="cgdp-definition-link">physical exam</a>, and order medical tests and <a data-gloss-id="46570" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/46570" class="cgdp-definition-link">scans</a>. Tests might include blood tests. Scans might include <a data-gloss-id="45788" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/45788" class="cgdp-definition-link">MRI</a>, <a data-gloss-id="46033" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/46033" class="cgdp-definition-link">CT</a>, or <a data-gloss-id="46140" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/46140" class="cgdp-definition-link">PET scans</a>.</p>
				<p>You cannot tell if chemotherapy is working based on its side effects. Some people think that severe side effects mean that chemotherapy is working well, or that no side effects mean that chemotherapy is not working. The truth is that side effects have nothing to do with how well chemotherapy is fighting your cancer.</p>
			</div>

		</section>

		<section class="cgdp-article-body__section" aria-labelledby="special-diet-needs-while-on-chemotherapy">
			<h2 class="nci-heading-h2" id="special-diet-needs-while-on-chemotherapy">
				Special diet needs while on chemotherapy
			</h2>
			<div class="usa-prose usa-prose--ncids-full-html">
				<p>Chemotherapy can damage the healthy cells that line your mouth and intestines and cause eating problems. Tell your doctor or nurse if you have trouble eating while you are receiving chemotherapy. You might also find it helpful to speak with a <a data-gloss-id="44661" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/44661" class="cgdp-definition-link">dietitian</a>. For more information about coping with eating problems see the booklet <a href="/publications/patient-education/eating-hints" data-entity-type="node" data-entity-uuid="908e2679-a72f-4823-99d1-2deae1e92762" data-entity-substitution="canonical">Eating Hints </a>or the section on <a href="/about-cancer/treatment/side-effects" data-entity-type="node" data-entity-uuid="e7202b67-b320-4e4e-bdfe-bd307e7cba5e" data-entity-substitution="canonical">side effects</a>. &nbsp;</p>
			</div>

		</section>

		<section class="cgdp-article-body__section" aria-labelledby="working-during-chemotherapy">
			<h2 class="nci-heading-h2" id="working-during-chemotherapy">
				Working during chemotherapy
			</h2>
			<div class="usa-prose usa-prose--ncids-full-html">
				<p>Many people can work during chemotherapy, as long as they match their work schedule to how they feel. Whether or not you can work may depend on what kind of job you have. If your job allows, you may want to see if you can work part-time or from home on days you do not feel well.</p>
				<p>Many employers are required by law to change your work schedule to meet your needs during cancer treatment. Talk with your employer about ways to adjust your work during chemotherapy. You can learn more about these laws by talking with a <a data-gloss-id="44730" data-gloss-dictionary="Cancer.gov" data-gloss-audience="Patient" data-gloss-lang="en" href="/publications/dictionaries/cancer-terms/def/44730" class="cgdp-definition-link">social worker</a>.</p>
			</div>

		</section>

	</div>
</div>
