.usa-footer--big {
	.usa-footer__nav {
		@include u-margin-x($theme-site-margins-mobile-width * -1);
		@include at-media('mobile-lg') {
			border-bottom: 1px solid color('base-light');
			padding-top: units(4);
		}
		@include at-media('tablet') {
			@include u-margin-x(0);
			@include u-padding-x(0);
			border-bottom: none;
		}
	}

	.usa-footer__primary-link {
		@include h4;
		line-height: line-height('heading', 2);
		margin: 0;

		@include at-media('mobile-lg') {
			@include u-padding-y(0);
			margin-bottom: units(1);

			&:hover {
				cursor: auto;
				text-decoration: none;
			}
		}
	}

	.usa-footer__primary-content--collapsible {
		.usa-footer__primary-link {
			align-items: center;
			cursor: pointer;
			display: flex;
			justify-content: flex-start;

			// Arrow for collapsible content.
			&::before {
				@include add-background-svg('usa-icons/expand_more');
				@include u-square(2.5);
				align-items: center;
				background-size: contain;
				content: '';
				display: inline-flex;
				justify-content: center;
				margin-right: units(0.5);
				margin-left: units(-0.5);
			}

			@include at-media('mobile-lg') {
				&::before {
					content: none;
				}
			}
		}

		&.hidden {
			.usa-list--unstyled {
				display: none;

				@include at-media('mobile-lg') {
					display: block;
				}
			}

			.usa-footer__primary-link {
				&::before {
					@include add-background-svg('usa-icons/navigate_next');
				}

				@include at-media('mobile-lg') {
					margin: 0;
				}
			}
		}

		.usa-list--unstyled {
			@include u-padding-x($theme-site-margins-mobile-width);
			padding-bottom: units(2.5);

			@include at-media('mobile-lg') {
				@include u-padding-x(0);
				padding-bottom: units(4);
				padding-top: units(1.5);
			}
		}
	}
}
