.usa-footer--nci-big {
	// Header styles
	.usa-footer {
		&__nci-primary-link--accordion-header {
			display: flex;
			text-decoration: none;
			visibility: visible;

			@include at-media('mobile-lg') {
				display: none;
				margin-bottom: units(1);
				visibility: hidden;
			}
		}

		&__nci-primary-link--list-header {
			cursor: unset;
			display: none;
			visibility: hidden;
			@include u-padding-y(0);
			@include at-media('mobile-lg') {
				display: flex;
				visibility: visible;
			}

			&:hover {
				cursor: auto;
				text-decoration: none;
			}
		}
	}

	// Arrow for collapsible content
	.usa-footer__primary-content--collapsible {
		.usa-footer__nci-primary-link--accordion-header {
			&::before {
				@include add-background-svg('usa-icons/expand_more');
				@include u-square(2.5);
				align-items: center;
				background-size: contain;
				content: "";
				display: inline-flex;
				justify-content: center;
				margin-right: units(0.5);
				margin-left: units(-0.5);
			}
		}

		&.hidden {
			.usa-footer__nci-primary-link--accordion-header {
				&::before {
					@include add-background-svg('usa-icons/navigate_next');
				}
			}
		}
	}

	// All other footer styles
	.usa-footer {
		&__primary-link {
			font-family: family('sans'), sans-serif;
			font-size: size('sans', 'sm');
			line-height: line-height('heading', 2);
			margin: 0;
		}

		&__primary-section,
		&__secondary-section,
		&__primary-link,
		&__secondary-link a,
		&__secondary-section a {
			color: color('white');

			&:link,
			&:visited,
			&:focus,
			&:hover {
				color: color('white');
			}
		}

		&__nav {
			@include u-margin-x($theme-site-margins-mobile-width * -1);
			border-bottom: 1px solid color('black');

			@include at-media('mobile-lg') {
				padding-top: units(4);
			}

			@include at-media('tablet') {
				@include u-margin-x(0);
				@include u-padding-x(0);
				border-bottom: none;
			}

			@include at-media('desktop') {
				margin-bottom: units(4);
			}
		}

		&__primary-section {
			background-color: color('navy-70');
		}

		&__primary-content {
			border-top-color: color('black');

			&--collapsible.hidden .usa-list--unstyled {
				display: none;

				@include at-media('mobile-lg') {
					display: block;
				}
			}

			.usa-list--unstyled {
				padding-bottom: units(2.5);
				@include u-padding-x($theme-site-margins-mobile-width);

				@include at-media('mobile-lg') {
					@include u-padding-x(0);
					padding-bottom: units(4);
					padding-top: units(1.5);
					margin-top: units(0.5);
					margin-bottom: units(3);
				}
			}

			.usa-button--unstyled {
				text-decoration: none;
			}
		}

		&__secondary-section {
			background-color: color('navy-80');
		}

		&__secondary-link a {
			text-decoration: none;
			line-height: line-height('sans', 5);

			&:hover {
				text-decoration: underline;
			}
		}

		&__logo,
		&__logo-heading {
			margin-bottom: 0;
		}

		&__logo-heading {
			font-family: family('serif'), sans-serif;

			.logo__agency-name {
				font-size: size('serif', 10);
				display: block;
			}

			.logo__parent-organization {
				font-size: size('serif', 7);
				font-weight: font-weight('normal');
			}
		}

		&__contact-links,
		&__social-links {
			margin-top: units(2);

			@include at-media('mobile-lg') {
				margin-top: 0;
			}
		}

		&__contact-heading,
		&__social-heading {
			font-family: family('serif'), serif;
			font-size: size('serif', 'lg');
			line-height: line-height('serif', 2);
		}

		&__contact-heading {
			margin-bottom: units(0.5);
		}

		&__social-heading {
			margin-bottom: units(2);
		}

		&__social-links {
			.usa-social-link {
				background: transparent;
				height: 48px;
				width: 48px;
				position: relative;
			}

			.nci-big__social {
				margin-left: -24px;
			}

			.usa-social-link--facebook,
			.usa-social-link--twitter,
			.usa-social-link--youtube,
			.usa-social-link--rss {
				background: transparent;

				.usa-icon {
					color: #FACE00;
					fill: #FACE00;
					width: 29px;
					height: 29px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

		&__contact-links {
			a {
				font-size: size('sans', 'sm');
				line-height: line-height('sans', 5);
			}

			address a {
				display: block;
				font-size: size('sans', '2xs');
			}
		}

		&__contact-info {
			margin-bottom: units(3);
		}
	}

	.usa-sign-up__heading,
	.logo__agency-name,
	.usa-footer__social-heading,
	.usa-footer__contact-heading {
		font-weight: font-weight('semibold');
	}

	.usa-sign-up {
		.usa-label {
			margin-bottom: units(1);
		}

		.usa-input {
			margin-top: 0;
		}

		.usa-button {
			margin-top: units(2.5);
			width: 100%;

			@include at-media('mobile-lg') {
				width: auto;
			}
		}

		.usa-form-group--error {
			$dark-theme-color-error: 'cranberry-50v';
			border-left-color: color($dark-theme-color-error);
			margin-top: units(3);

			.usa-error-message {
				background: color($dark-theme-color-error);
				border-color: color($dark-theme-color-error);
				color: color('white');
				padding: units(1) units(1) 0;
			}

			.usa-input--error {
				border-color: color($dark-theme-color-error);
			}
		}
	}
}
