@forward "styles/ncids";
@forward "usa-link";
@forward "uswds-utilities";
@forward "usa-layout-grid";

.usa-link-visited-example {
	color: #54278f;
}

.usa-dark-background-example {
	background-color: #3d4551;
	p {
		color: #fff;
		a,
		a:visited {
			color: #fff;
		}
	}
}
