/* Error: Can't find stylesheet to import.
 *     ,
 * 513 | @import './system-tokens/red-cool';
 *     |         ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   scss/ncids-overrides/_ncids-system-tokens.scss 513:9  @import
 *   scss/ncids-base.scss 20:9                             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a     \2577 \a 513 \2502  @import './system-tokens/red-cool';\a     \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   scss/ncids-overrides/_ncids-system-tokens.scss 513:9  @import\a   scss/ncids-base.scss 20:9                             root stylesheet";
}
