/*

----------------------------------------
NCIDS 0.0.1
----------------------------------------
COLOR SETTINGS
MODIFIED from original uswds
----------------------------------------

*/

$test-system-color-tokens: false !default;

/*
----------------------------------------
Theme palette colors
----------------------------------------
*/

// Base colors
$theme-color-base-family: 'gray-cool' !default;
$theme-color-base-lightest: 'gray-5' !default;
$theme-color-base-lighter: 'gray-cool-10' !default;
$theme-color-base-light: 'gray-cool-30' !default;
$theme-color-base: 'gray-cool-50' !default;
$theme-color-base-dark: 'gray-cool-60' !default;
$theme-color-base-darker: 'gray-cool-70' !default;
$theme-color-base-darkest: 'gray-90' !default;
$theme-color-base-ink: 'gray-90' !default;

// Primary colors
$theme-color-primary-family: 'cerulean' !default;
$theme-color-primary-lightest: false !default;
$theme-color-primary-lighter: 'cerulean-20' !default;
$theme-color-primary-light: 'cerulean-40' !default;
$theme-color-primary: 'cerulean-50' !default;
$theme-color-primary-vivid: 'cerulean-50v' !default;
$theme-color-primary-dark: 'cerulean-60' !default;
$theme-color-primary-darker: 'cerulean-70' !default;
$theme-color-primary-darkest: false !default;

// Secondary colors
$theme-color-secondary-family: 'teal' !default;
$theme-color-secondary-lightest: false !default;
$theme-color-secondary-lighter: 'teal-10' !default;
$theme-color-secondary-light: 'teal-30' !default;
$theme-color-secondary: 'teal-50' !default;
$theme-color-secondary-vivid: 'teal-50v' !default;
$theme-color-secondary-dark: 'teal-60' !default;
$theme-color-secondary-darker: 'teal-70' !default;
$theme-color-secondary-darkest: false !default;

// Accent warm colors
$theme-color-accent-warm-family: 'golden' !default;
$theme-color-accent-warm-lightest: false !default;
$theme-color-accent-warm-lighter: 'golden-5' !default;
$theme-color-accent-warm-light: 'golden-10' !default;
$theme-color-accent-warm: 'golden-20' !default;
$theme-color-accent-warm-dark: 'golden-30' !default;
$theme-color-accent-warm-darker: 'golden-40' !default;
$theme-color-accent-warm-darkest: false !default;

// Accent Cool
$theme-color-accent-cool-family: 'navy' !default;
$theme-color-accent-cool-lightest: false !default;
$theme-color-accent-cool-lighter: 'navy-10' !default;
$theme-color-accent-cool-light: 'navy-30' !default;
$theme-color-accent-cool: 'navy-50' !default;
$theme-color-accent-cool-dark: 'navy-70' !default;
$theme-color-accent-cool-darker: 'navy-80' !default;
$theme-color-accent-cool-darkest: false !default;

/*
----------------------------------------
State palette colors
----------------------------------------
*/

// Error colors
$theme-color-error-family: 'cranberry' !default;
$theme-color-error-lighter: 'cranberry-20' !default;
$theme-color-error-light: 'cranberry-40' !default;
$theme-color-error: 'cranberry-60' !default;
$theme-color-error-dark: 'cranberry-70' !default;
$theme-color-error-darker: 'cranberry-80' !default;

// Warning colors
$theme-color-warning-family: 'golden' !default;
$theme-color-warning-lighter: 'golden-5' !default;
$theme-color-warning-light: 'golden-10' !default;
$theme-color-warning: 'golden-20' !default;
$theme-color-warning-dark: 'golden-30' !default;
$theme-color-warning-darker: 'golden-40' !default;

// Success colors
$theme-color-success-family: 'teal' !default;
$theme-color-success-lighter: 'teal-5' !default;
$theme-color-success-light: 'teal-20' !default;
$theme-color-success: 'teal-40' !default;
$theme-color-success-dark: 'teal-50' !default;
$theme-color-success-darker: 'teal-70' !default;

// Info colors
$theme-color-info-family: 'cerulean' !default;
$theme-color-info-lighter: 'cerulean-10' !default;
$theme-color-info-light: 'cerulean-30' !default;
$theme-color-info: 'cerulean-50' !default;
$theme-color-info-dark: 'cerulean-60' !default;
$theme-color-info-darker: 'cerulean-70' !default;

// Disabled colors
$theme-color-disabled-family: 'gray' !default;
$theme-color-disabled-light: 'gray-10' !default;
$theme-color-disabled: 'gray-20' !default;
$theme-color-disabled-dark: 'gray-30' !default;

// Emergency colors
$theme-color-emergency: 'cranberry-60' !default;
$theme-color-emergency-dark: 'cranberry-80' !default;

/*
----------------------------------------
General colors
----------------------------------------
*/

// Body
$theme-body-background-color: 'white' !default;

// Text
$theme-text-color: 'ink' !default;
$theme-text-reverse-color: 'white' !default;

// Links
$theme-link-color: 'primary' !default;
$theme-link-visited-color: 'violet-70v' !default;
$theme-link-hover-color: 'primary-dark' !default;
$theme-link-active-color: 'primary-darker' !default;
$theme-link-reverse-color: 'base-lighter' !default;
$theme-link-reverse-hover-color: 'base-lightest' !default;
$theme-link-reverse-active-color: 'white' !default;
