@forward "styles/ncids";
@forward "usa-layout-grid";
@use "uswds-core" as *;
@use "@nciocpl/ncids-css/packages/nci-header" as header;
@use "@nciocpl/ncids-css/packages/nci-autocomplete" as autocomplete;

// to hide scrollbars in storybook due to mega menu
.sb-main-padded .sb-show-main,
.sb-show-main,
.sb-main-padded.sb-show-main {
	overflow: hidden;
}

.listboxWidth {
	width: calc(100% - 48px);
	@include at-media('desktop') {
		width: calc(100% - 75.25px);
	}
}
