{% include "@nciocpl/ncids-twig/components/usa-skipnav/usa-skipnav.twig" %}
<div style="background-color: #bdbdbd; min-height: 100px;width: 100%;">{{ placeholder }}</div>
<div id="main-content" role="main">{{ maincontent }}</div>
