@use "styles/ncids";
@forward "usa-accordion";
@forward "usa-prose";
@forward "uswds-utilities";
@forward 'nci-heading';

.cgdp-article-body__section:not(:first-child){
    margin-top: 1rem;
}
.cgdp-article-body.usa-accordion section:not(:first-child) {
    margin-top: .5rem;
}
