.nci-autocomplete {
	@include u-position('relative');
	@include u-width('full');
	@include u-font('ui', 5);
	@include u-line-height('ui', 4);

	// autocomplete listbox
	&__listbox {
		@include u-display('none');
		@include add-list-reset;
		@include u-position('absolute');
		top: calc(100% - 1px);
		@include u-left(0);
		@include u-border(1px);
		@include u-border('solid');
		border-color: color('white') color('gray-50') color('gray-50')
			color('gray-50');
		background: color('white');
		@include u-margin(0);
		@include u-padding(0);
		z-index: 301;

		&.active {
			@include u-display('block');
		}
	}
	// listbox option
	&__option {
		@include u-padding(1);
		white-space: normal;

		mark {
			@include u-text('bold');
			background: none;
		}

		.minPlaceholderMsg {
			font-style: u-text('none');
			font-size: size('ui', '2xs');
		}

		&:hover,
		&:focus,
		&.highlight {
			color: color('white');
			background: color('primary');
			cursor: pointer;
			mark {
				color: white;
			}
		}
	}
	// announcement div
	&__status {
		@extend .usa-sr-only;
	}
}
