@use "uswds-core" as *;
@use "mixins" as sidenav;

/**
 * USWDS styles
 */
.usa-sidenav {
	@include border-box-sizing;
	@include nav-list("sidenav");
	@include typeset($theme-sidenav-font-family, "sm", 3);
	border-bottom: units(1px) solid color("base-lighter");

	.grid-container & {
		@include u-margin-x(-$theme-site-margins-mobile-width);

		@include at-media("tablet") {
			@include u-margin-x(0);
		}
	}
}

.usa-sidenav__sublist {
	@include sidenav.ncids-nav-sublist; // ncids override
	font-size: font-size($theme-sidenav-font-family, "xs");
}


/**
 * NCIDS styles
 */

.usa-sidenav--nci-sidenav {
	display: none;
	@include at-media('desktop') {
		display: block;
	}

	// Fixes https://github.com/uswds/uswds/issues/3994
	// Adds border to indicate current, active page
	.usa-current {
		// Removes border for current page's ancestors in navigation tree
		&--nci-ancestor::after {
			display: none;
		}
	}

	// Adds arrow, indicating item has children
	.nci-has-children {
		@include at-media('desktop') {
			position: relative;
			@include place-icon(
					(
						'name': 'chevron_right', // icon filename
						'svg-height': 40, // height of svg
						"svg-width": 40, // width of svg
						'height': 2ex, // height, must be "unitless"
						'color': 'black' // mask background color
					),
					'after', // position
					'05', // margin, units()
					baseline, // vertical-align
					'white' // background-color
			);
			&::after {
				content: '';
				margin: 0;
				width: 1.5rem;
				height: 1.5rem;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
