@use "uswds-core" as * with (
	$theme-image-path: "@nciocpl/ncids-css/uswds-img",
	$theme-show-notifications: false,
	$theme-show-compile-warnings: true,
	// Some of the homepage examples use the tablet-lg,
	// but we should not enable it in our default for
	// all utility classes. We can just enable it for
	// the example site.
	$theme-utility-breakpoints: (
		// 160px:
		"card": false,
		// 240px:
		"card-lg": false,
		// 320px:
		"mobile": false,
		// 480px:
		"mobile-lg": true,
		// 640px:
		"tablet": true,
		// 880px:
		"tablet-lg": true,
		// 1024px:
		"desktop": true,
		// 1200px:
		"desktop-lg": false,
		// 1400px:
		"widescreen": true
	)
);
@forward "ncids";

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);

// Removes padding from NCIDS with title's title and subheading container
// and from the NCIDS Hero
.usa-section--cgdp-no-top {
	@include u-padding-top(0);
}
