@use "uswds-core" with (
	$theme-image-path: "@nciocpl/ncids-css/uswds-img",
	$theme-font-path: "@nciocpl/ncids-css/fonts",
	$theme-show-notifications: false,
	$theme-show-compile-warnings: false,
	// Some of the homepage examples use the tablet-lg,
	// but we should not enable it in our default for
	// all utility classes. We can just enable it for
	// the example site.
	$theme-utility-breakpoints: (
		// 160px:
		"card": false,
		// 240px:
		"card-lg": false,
		// 320px:
		"mobile": false,
		// 480px:
		"mobile-lg": true,
		// 640px:
		"tablet": true,
		// 880px:
		"tablet-lg": true,
		// 1024px:
		"desktop": true,
		// 1200px:
		"desktop-lg": false,
		// 1400px:
		"widescreen": true
	)
);
@forward "uswds-global";

@forward "usa-skipnav";
@forward "usa-banner";
@forward "usa-breadcrumb";
@forward "usa-button";
@forward "usa-footer";
@forward "usa-prose";
@forward "usa-process-list";
@forward "usa-list";
// todo forward layout grid here ONLY, remove imports from others
@forward "usa-layout-grid";

@forward "nci-autocomplete";
@forward "nci-header";

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);

// Vars for special home/landing rules for section spacing.
$section-padding-height-double: 4;
$section-padding-height-double-mobile: 3;

// Special Rule for first usa-section
main > .usa-section:nth-child(-n + 2):not(.nci-hero) {
	@include u-padding-top($section-padding-height-double-mobile);
	@include at-media('tablet') {
		@include u-padding-top($section-padding-height-double);
	}
}

// Special Rule for last page section
main > section:last-of-type {
	@include u-padding-bottom($section-padding-height-double-mobile);
	@include at-media('tablet') {
		@include u-padding-bottom($section-padding-height-double);
	}
}
