@use 'uswds-core' as *;
@use '../../../internal-uswds/usa-button/src/styles/usa-button' as button;

.usa-button {
	&.usa-button--outline {
		&.usa-button--secondary {
			background-color: color('transparent');
			box-shadow: button.$button-stroke color('secondary');
			color: color('secondary');

			&:disabled {
				color: color('disabled');
				box-shadow: button.$button-stroke color('disabled');
				background-color: color('transparent');
			}

			&:not([disabled]):visited {
				color: color('secondary');
			}

			&:not([disabled]):hover,
			&:not([disabled]).usa-button--hover {
				background-color: color('transparent');
				box-shadow: button.$button-stroke color('secondary-dark');
				color: color('secondary-dark');
			}

			&:not([disabled]):active,
			&:not([disabled]).usa-button--active {
				background-color: color('transparent');
				box-shadow: button.$button-stroke color('secondary-darker');
				color: color('secondary-darker');
			}
		}
	}
}
