$system-color-teal: (
	'teal': (
		5: #dbf2f3,
		10: #beebee,
		20: #93d8dc,
		30: #44bfc6,
		40: #3c989e,
		50: #298085,
		60: #226467,
		70: #1e4c4f,
		80: #17373a,
		90: #102223,
		'vivid': (
			5: #def6f7,
			10: #a3eef1,
			20: #67e4e8,
			30: #52b6b9,
			40: #42979a,
			50: #338084,
			60: #206b6f,
			70: #235152,
			80: #1a3c3d,
			90: false,
		),
	),
);
