@use 'uswds-core' as *;
@use "sass:meta" as meta;

@mixin nci-big-footer-external-icon() {
	// External icon mixin for wrapping the icon with the text
	@include external-link-wrap-with-text(units(1.5));
	// Update size of icon for feature cards specifically
	&::after {
		mask-size: 2ex 2ex;
	}
}

.usa-footer--nci-big {
	// Primary link styles
	.usa-footer {
		// Shared primary link styles
		&__primary-link {
			background: none;
			border: none;
			cursor: default;
			display: flex;
			text-decoration: none;
			visibility: visible;
			width: 100%;

			&:hover {
				text-decoration: none;
			}

			@include at-media('mobile-lg') {
				@include u-padding-y(0);
			}
		}

		// Collapse button styles, mobile only
		&__nci-collapse-header {
			cursor: pointer;
			display: flex;
			@include at-media('mobile-lg') {
				display: none;
			}
		}

		// List header styles, desktop only
		&__nci-list-header {
			cursor: default;
			display: none;
			@include at-media('mobile-lg') {
				display: flex;
			}
		}
	}

	// Arrow for collapsible content
	.usa-footer__primary-content--collapsible {
		button.usa-footer__primary-link {
			@include place-icon(
				(
					'name': 'navigate_next',
					'svg-height': 40,
					'svg-width': 40,
					'height': 2ex,
					'color': 'white',
				),
				'before',
				'05',
				baseline,
				'black'
			);

			&[aria-expanded='true']::before {
				transform: rotate(90deg);
			}

			&::before {
				// Overrides USWDS place-icon unitless requirements
				margin-left: units(-0.5);
				mask-size: #{units(2.5)} #{units(2.5)};
				height: units(2.5);
				width: units(2.5);

				@include at-media('mobile-lg') {
					display: none;
				}
			}
		}
	}

	// All other footer styles
	.usa-footer {
		// Shared text and link font styles
		&__primary-section,
		&__secondary-section,
		&__primary-link,
		&__secondary-link a,
		&__secondary-section a {
			color: color('white');

			&:link,
			&:visited,
			&:focus,
			&:hover {
				color: color('white');
			}
		}

		&__secondary-link {
			a {
				text-decoration: none;
				line-height: line-height('sans', 3);

				&:hover {
					text-decoration: underline;
				}
			}
		}

		// Primary section
		&__primary-section {
			background-color: color($theme-color-primary-dark);

			// Navigation and collapsible section
			.usa-footer {
				&__nav {
					@include u-margin-x($theme-site-margins-mobile-width * -1);
					border-bottom: 1px solid color('black');

					@include at-media('mobile-lg') {
						padding-top: units(4);
					}

					@include at-media('tablet') {
						@include u-margin-x(0);
						@include u-padding-x(0);
						border-bottom: none;
					}

					@include at-media('desktop') {
						margin-bottom: units(4);
					}
				}

				&__primary-content {
					border-top-color: color('black');

					&--collapsible .usa-list--unstyled.hidden {
						display: none;

						@include at-media('mobile-lg') {
							display: block;
						}
					}

					.usa-list--unstyled {
						padding-bottom: units(2.5);
						@include u-padding-x($theme-site-margins-mobile-width);

						@include at-media('mobile-lg') {
							@include u-padding-x(0);
							padding-bottom: units(4);
							padding-top: units(1.5);
							margin-top: units(0.5);
							margin-bottom: units(3);
						}
					}
				}
			}

			// Sign up form
			.usa-sign-up {
				.usa-form {
					max-width: 100%;
				}

				.usa-label {
					margin-bottom: units(1);
				}

				.usa-input {
					margin-top: 0;
					max-width: 100%;
				}

				.usa-button {
					margin-top: units(2.5);
					width: 100%;

					@include at-media('tablet') {
						width: auto;
					}
				}

				.usa-form-group {
					$dark-theme-color-error: 'cranberry-50v';

					&--error {
						border-left-color: color($dark-theme-color-error);
					}

					.usa-error-message {
						background: color($dark-theme-color-error);
						border-color: color($dark-theme-color-error);
						color: color('white');
						padding: units(1) units(1) 0;
						@include u-line-height('body', 5);

						&.hidden {
							display: none;
						}
					}

					.usa-input--error {
						border-color: color($dark-theme-color-error);
					}
				}
			}
		}

		// Secondary section
		&__secondary-section {
			background-color: color($theme-color-primary-darker);

			.usa-footer {
				&__logo {
					align-items: baseline;
					margin-bottom: 0;
					margin-top: 0;

					@include at-media('desktop') {
						margin-bottom: units(3);
					}
				}

				&__logo-heading {
					margin-top: 0;
					margin-bottom: 0;

					font-family: family('heading'), serif;

					.logo__agency-name {
						font-size: size('heading', 10);
						line-height: line-height('heading', 3);
						display: block;
					}

					.logo__parent-organization {
						font-size: size('heading', 7);
						font-weight: font-weight('normal');
						line-height: line-height('heading', 2);
					}
				}

				&__contact-heading,
				&__social-heading {
					font-family: family('heading'), serif;
					font-size: size('heading', 'lg');
					font-weight: font-weight('bold');
				}

				&__contact-heading {
					margin-bottom: units(0.5);
				}

				&__social-heading {
					margin-top: units(2);
					margin-bottom: units(2);

					@include at-media('desktop') {
						margin-top: units(1.5);
					}
				}

				&__social-links {
					padding-bottom: 0;

					.usa-social-link {
						background: transparent;
						padding: 0 units(1) 0 0;
						width: auto;
						height: auto;

						.usa-icon {
							color: color($theme-color-accent-warm);
							fill: color($theme-color-accent-warm);
							margin-left: -3px; // SVG spacing
							margin-right: -3px; // SVG spacing
							height: 40px;
							width: 40px;
						}
					}
				}

				&__contact-links {
					margin-top: units(2.5);
					text-align: left;

					@include at-media('desktop') {
						margin-top: 0;
						text-align: right;
					}

					a {
						font-size: size('body', $theme-body-font-size);
						line-height: line-height('body', 5);
					}

					address a {
						display: block;
						font-size: size('body', '2xs');
					}
				}

				&__contact-info {
					justify-content: flex-start;

					@include at-media('desktop') {
						justify-content: flex-end;
					}
				}
			}
		}
	}
}
