@use "uswds-core" with (
	$theme-image-path: "~@nciocpl/ncids-css/uswds-img", // todo webpack version upgrade
	$theme-show-notifications: false,
	$theme-show-compile-warnings: false,
	$theme-utility-breakpoints: (
		"card": false,
		"card-lg": false,
		"mobile": false,
		"mobile-lg": true,
		"tablet": true,
		"tablet-lg": true,
		"desktop": true,
		"desktop-lg": false,
		"widescreen": true
	),
	$theme-text-measure: "none",
);
@forward "uswds-global";
@forward "uswds-utilities";
@forward "usa-layout-grid";
@forward "usa-prose";

@use "@nciocpl/ncids-css/packages/usa-section" as section;
@use "@nciocpl/ncids-css/packages/nci-card-group" as card-group;
@use "@nciocpl/ncids-css/packages/nci-card" as card;
