@import 'shared';

.usa-site-alert {
	&--nci-standard {
		&.usa-site-alert--nci-emergency,
		&.usa-site-alert--nci-info {
			.usa-alert:before {
				top: units(1);
			}
		}

		.usa-alert {
			padding: units(1) 0;

			&__nci-header {
				.usa-alert {
					&__heading {
						display: inline-block;
						font-size: size('body', 'xs');
						line-height: line-height('body', 4);
						margin-bottom: 0;
					}

					&__nci-button {
						border: none;
						cursor: pointer;

						&--toggle {
							padding: 0 units(3);

							&[aria-expanded=false] {
								transform: rotate(180deg);
							}

							svg {
								pointer-events: none;
								height: units('105');
								width: units('105');
							}
						}
					}
				}
			}

			&__nci-content {
				.usa-alert__nci-list {
					padding-left: units('205');
					margin-bottom: units('105');

					@include at-media('tablet') {
						columns: 2 auto;
						column-gap: units(8);
					}

					.usa-link {
						font-weight: font-weight('bold');
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				&.hidden {
						display: none;
						visibility: hidden;
				}
			}
		}
	}
}

