<div class="margin-y-3">
	<button class="usa-button" data-async-modal="123">{{ modal01.trigger.text }}</button>
	<br/><br/>
	<button class="usa-button" data-async-modal="123">{{ modal02.trigger.text }}</button>
</div>
