.usa-banner--nci-banner {
	.usa-banner__header {
		@include u-padding-y(1);
		@include add-responsive-site-margins;

		.usa-banner__inner {
			align-items: center;
			display: flex;
			padding: 0;
			justify-content: space-between;

			// Calculate height of button for consistency between banners with and without language toggles
			min-height: font-size($theme-button-font-family, "2xs") + units(1) * 2;

			@include at-media('mobile') {
				flex-flow: row;
			}

			.usa-banner__header-text,
			.usa-banner__header-text::before {
				display: flex;
				margin-right: units(1.5)
			}

			.usa-banner__header-text {
				&::before {
					content: url('#{$theme-image-path}/us_flag_small.png');
				}
			}

			.usa-button {
				margin: 0;
				width: initial;
			}
		}
	}
}
